<ion-header style="background-color: black;">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button style="background-color: red;"></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark" style="color: white; font-size: xx-large;" align="center"> title Surname</ion-title>
    <ion-icon style="font-size: 30px;" slot="end" name="arrow-undo" routerLink="/landlord-dash">previous</ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card style="background-image: url('assets/pics/landlord.jpg'); background-repeat: no-repeat; padding-top: -200px;">
  
    <div class="card">
    <br>
<br>
<br>
<br>
  <ion-card text-center padding color="warning">
    
    <form  align="center" >
      <ion-item style="background-color: transparent;">
       <ion-label >
         Fullnames:{{result.id}}
       </ion-label>
      </ion-item>

      <br>
     <ion-item><ion-label >
      Surname :{{result.id}}
     </ion-label></ion-item>
      <br>
     
     <ion-item><ion-label >
       Identity Number:{{result.id}}
     </ion-label></ion-item>
     <br>
     <ion-item><ion-label >
       E-mail Address:{{result.id}}
     </ion-label></ion-item>
     
      
     
     <br>
     <ion-item><ion-label >
       Cell Number:{{result.id}}
     </ion-label>
     </ion-item>
     
     
     <br>
     <ion-item><ion-label >
       Number of properties:{{result.id}}
     </ion-label></ion-item>
     
     
     
     </form>
  </ion-card>
</div>
<br><br>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<ion-footer  class="ion-footer">
  <ion-toolbar color="dark" >
    <ion-title align="center" >2020 Off campus accomodation</ion-title>
  </ion-toolbar>
</ion-footer>
   
</ion-card>
</ion-content>


