
li{
    float: right;
    list-style:none;
    text-align: center;
    width: 10 0px;
    height: 15px;
    line-height: 10px;
    color: aliceblue;
   }
   ion-content{
    --ion-background-color:#ebebeb;
   }
   img{
    text-align:left;
    font-size: small; 
   }
   ion-toolbar{
    --ion-background-color:rgb(3, 1, 32);
   }
a {

    display: inline-block;
    color: white;
    padding: 8px 8px;
    text-align: center;
    font-style: initial;
    text-decoration-line: none;
  }
  
  a:hover {
    background-color: transparent;
    color: white;
    text-decoration-line: solid 2px;
    border-bottom: solid 2px;
  }
 ion-toolbar{
  --ion-background-color:rgb(3, 1, 32);
 }
