ion-card{
  margin-top: 40px;
 
  height:110px;
  width: 40%;

  }
  .card11
  {
    ion-card{
      
      width: 400px; 
      height: 200px;  
      
    }
  
  }
  ion-card{
    border-radius: 10% 10% 
}

.mySlides{
    width: 200px;
}
li{
    float: right;
    list-style:none;
    text-align: center;
    width: 70px;
    height: 15px;
    line-height: 10px;
    color: aliceblue;
    text-decoration-line: none;
    font-weight: bold;
  }
  ion-card{
    border-radius: 5% 
}
  a {

    text-decoration-line: none;
    padding: 8px 8px;
    font-style: initial;
    text-align: center; 
    color:rgb(6, 2, 73);
  }
  ion-label{
      margin-left: 20px;
  }