<ion-header style="background-color: black;">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button style="background-color: red;"></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark" style="color: white; font-size: xx-large;" align="center"> Residence Report</ion-title>
    <ion-icon style="font-size: 30px;" slot="end" name="arrow-undo" routerLink="/stud-profile">previous</ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card style="background-image: url('assets/pics/student.jpg'); padding-top: -200px;">
  <div class="card">
    <br>
<br>
<br>
<br>
  <ion-card text-center padding color="grey">
    
    <form  align="center" >
      <ion-item >
       <ion-label >
         Fullname:{{result.id}}
       </ion-label>
      </ion-item>
     <br>
      
     
     
     <ion-item><ion-label >
       Identity Number:{{result.id}}
     </ion-label></ion-item>
     
     <br>
     <ion-item><ion-label >
       :{{result.id}}
     </ion-label></ion-item>
      <br>
     
     
     <ion-item><ion-label >
       Residence Name:{{result.id}}
     </ion-label></ion-item>
     <br>
     <ion-item><ion-label >
       Room Number:{{result.id}}
     </ion-label></ion-item>
     
      
     
     <br>
     <ion-item><ion-label >
       Accupation Date:{{result.id}}
     </ion-label>
     </ion-item>
     
     
     <br>
     <ion-item><ion-label >
       Residential Address:{{result.id}}
     </ion-label></ion-item>
     
     
     
     </form>
  </ion-card>
</div>
<br><br>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<ion-footer  class="ion-footer">
  <ion-toolbar color="dark" >
    <ion-title align="center" >2020 Off campus accomodation</ion-title>
  </ion-toolbar>
</ion-footer>
   
</ion-card>
</ion-content>

