
.card
{
   // margin-left:0px ;
    margin-right: 100px;
}
.ion-text-center
{
    text-align: right;
}
.ion-label
{
color: black;
font-style:oblique;
font-size: 25px;
}
.ion-item
{
    opacity: 0.5;
   transition: ease-in all; 
   background-color:grey;
   color:black;
   
}