ion-content h1{
    padding-left: 35%;
}

 #first{
   padding-left: 40%;
   zoom: 5;
}
ion-icon{
    zoom: 3;
}


ion-title{
    padding-left: 100px;
}


ion-footer{
    margin-top:10%;
}
a{
    text-decoration: none;
    color:black;
}
ion-content{

    --ion-background-color:#ddb636f3;
}