

  
<ion-header style="background-color: black;">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button style="background-color: red;"></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark" style="color: white;" align="center">{{ folder }} </ion-title>
  </ion-toolbar>
</ion-header>
 
 
 
 <ion-content>
   
   <section text-center>
     
     <h1> 
       Welcome  student
     </h1>
     <ion-icon id="first" name="Person"></ion-icon>
   </section>
   <ion-grid>
     <ion-row>
        <ion-col col=6> 
         <a routerLink="/stud-profile"><ion-card text-center padding color="light">
           <ion-icon name="person"></ion-icon>
           <h2>Profile</h2>
         </ion-card></a>
       </ion-col>
 
       <ion-col col=6>
         <ion-card text-center padding color="light">
           <ion-icon name="home"></ion-icon>
           <h2>Proof Of Residence</h2>
         </ion-card>
       </ion-col>
     </ion-row>
 
     <ion-row>
       <ion-col col=6>
        <a routerLink="/studapply"><ion-card text-center padding color="light">
           <ion-icon name="book"></ion-icon>
           <h2>Apply</h2>
         </ion-card>
        </a>
       </ion-col>
 
       <ion-col col=6>
        <a routerLink="/studstatus"><ion-card text-center padding color="light">
           <ion-icon name="eye"></ion-icon>
           <h2>Residence Status</h2>
         </ion-card></a>
       </ion-col>
     </ion-row>
 
   </ion-grid>

  
    

 
 <a routerLink="/folder/folder">
   <ion-button>Logout</ion-button>
 </a>
  
   <ion-footer>
     <ion-toolbar color="dark" >
       <ion-title text-center >2020 Off campus accomodation</ion-title>
     </ion-toolbar>
   </ion-footer>
   

 <div class="push"></div>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>



 
 <br>
 <br>
 <br>

 <ion-footer  class="ion-footer">
   <ion-toolbar color="dark" >
     <ion-title align="center" >2020 Off campus accomodation</ion-title>
   </ion-toolbar>
 </ion-footer>
    

  


 
   
 </ion-content>