ion-input{
    border-bottom: solid 1px;
    border-top: solid 1px;
    border-right: solid 1px;
    border-left: solid 1px;
    margin-left: 10px;
    margin-right: 10px;
}

ion-select{
    border-bottom: grey solid ;
    border-top: grey solid ;
    border-right: grey solid ;
    border-left: grey solid;
    margin-left: 10px;
    margin-right: 10px;
    
}  

ion-content{
    margin-left: 10px;
    margin-right: 10px;
}