ion-input{
    border-bottom: solid 1px;
    border-top: solid 1px;
    border-right: solid 1px;
    border-left: solid 1px;
}

ion-select{
    border-bottom: solid 2px;
    border-top: solid 2px;
    border-right: solid 2px;
    border-left: solid 2px;
}  