ion-card{
    margin-top: 40px;
   
    height:110px;
    width: 40%;
  
    }
    .card{
        ion-card{
            margin-left: 40px;
            margin-right: 40px;
        }
    }
    li{
        float: right;
        list-style:none;
        text-align: center;
        width: 100px;
        height: 15px;
        line-height: 10px;
        color: aliceblue;
        text-decoration-line: none;
        font-weight: bold;
      }
      .border
{
  //   border-bottom: solid ;
  //   border-top: solid ;
  //   border-left: solid ;
  //   border-right: solid ;
    color:black;
    

}
      a {

        text-decoration-line: none;
        font-style: initial;
        color:rgb(7, 3, 83);
        
        
      } 