<ion-header >
  <ion-toolbar color=dark>
    <ion-title align="center">Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a id="back" routerLink="/stud-profile">
    <ion-icon id="back" name="arrow-undo"></ion-icon>
  </a>
  <br><br><br><br>


  <form action="">
    <ion-item lines="none">
      <ion-label id="ec">Email</ion-label>
      <input type="text" id="input">
    </ion-item>

    <ion-item lines="none">
      <ion-label id="ec">Cell</ion-label>
      <input type="text" id="input">
    </ion-item>

    <ion-button id="update">Update</ion-button>

  </form>
  






</ion-content>
