ion-card{
    margin-top: 40px;
   
    height:110px;
    width: 40%;
    }
    .right{
      ion-radio{
        color: red;
      }
    }
    .card{
        ion-card{
            margin-left: 40px;
            margin-right: 40px;
            width: 600px;
            height: 650px;
        }
    }
    ion-content{
      margin-right: 20px;
    }
    li{
        float: right;
        list-style:none;
        text-align: center;
        width: 100px;
        height: 15px;
        line-height: 10px;
        color: aliceblue;
        text-decoration-line: none;
        font-weight: bold;
      }
      .border
{
  //   border-bottom: solid ;
  //   border-top: solid ;
  //   border-left: solid ;
  //   border-right: solid ;
    color:black;
    

}
      a {

        text-decoration-line: none;
        font-style: initial;
        color:rgb(7, 3, 83);
        
        
      } 

      ion-input{
        border-top: grey solid 1px;
        border-bottom: grey 1px solid;
        border-right: grey solid 2px;
        border-left: grey solid 1px;
        //margin-left: 5px;
      }
      