<ion-menu side="start" menuId="first" contentId="content1" color="dark">
  <ion-header color="dark" >
    <ion-toolbar color="dark">
      
    </ion-toolbar >
  </ion-header >
  <ion-card color="dark" style="  background: linear-gradient(60deg, #00FF7F 50%, lightseagreen 50%);border-radius: 50%; 
  margin-left: 70px; text-align:center; margin-top: 40px;height:110px;width: 40%;" > 
    hello50
  </ion-card>

  <ion-content color="dark">
  
    <ion-list  color="dark" lines="none" *ngFor="let pages of navigate"  >
     
    <ion-menu-toggle auto-hide="true" color="dark">
      <ion-item [routerLink]="pages.url" routerDirection="forward" lines="none" color="dark"  >
          <ion-icon [name]="pages.icon" slot="start"></ion-icon>
             {{pages.title}} 
      </ion-item>
    </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content1" color="dark" ></ion-router-outlet>


<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start" style="color: rgb(6, 2, 73);">
      <ion-menu-button sytle="background-color:white"></ion-menu-button>
      </ion-buttons>

    <ul class="sidebar-nav" style=" font-size: small">
      <li><a routerLink="/folder/Home"><ion-icon name="log-out-outline" style="font-size: 20px; background-color:rgb(6, 2, 73)
      ; color: white ;" >previous</ion-icon></a></li>
      <li><a routerLink="/help/helpstud">HELP</a></li>
    </ul>
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-grid>


  <ion-card style="margin-left:60px ;border-radius: 20px; height:50px ;background-color: white;color: rgb(6, 2, 73);">
   
    <ion-label style="color: rgb(6, 2, 73) ;margin-left: 60px;margin-top:-30px;font-size:14px; text-align: left;">
     Dashboard
    </ion-label>
   </ion-card>
 <ion-card style="background-color: rgb(6, 2, 73);
 margin-left: 250px;margin-top: -60px;
 border-radius: 20px; height:50px ;" >
  
  <ion-label style="color: black ;margin-left: 60px;margin-top:-30px;color:white; font-size:14px;">
   My Room
  </ion-label>
 </ion-card>
    
  
    <h1 style="font-size: 18px; font-weight: bold;color: rgb(6, 2, 73);margin-left: 20px; 
    margin-top:-10px; margin-left: 40px;border-left: 10px 	rgb(83, 218, 83) solid;">My Room</h1>
  
    <!-- <ion-button ><ion-icon name="heart-outline"></ion-icon>n</ion-button> 
    
    love
    <ion-icon name="heart-outline"></ion-icon> <div class="">
  
      sad
      <ion-icon name="heart-outline"></ion-icon>
  
      happy
      <ion-icon name="happy-outline"></ion-icon>
  
      delete x
      
      <ion-icon name="close-outline"></ion-icon>
    </div>-->
  
    
  
  
   
    
   
  
    <ion-row>
        <ion-col size="12" size-sm>
          <ion-card>
            <ion-slide  class="mySlides"  style="background-image:url(assets/pics/sl.jpg) ;background-size: cover;">
                   <!-- <a routerLink="/login1"> -->
             <ion-toolbar>
               <div slot="start" class="bstyle">
                  <ion-button  color="primary" shape="round" (click)= "popOver($event)">
                     <ion-icon name="heart" color="light"></ion-icon>Rate
                  </ion-button>
                 </div>
              </ion-toolbar>

                    <!-- </a> -->
      
                        <br><br><br><br>
                           <br><br><br><br>
                                   <br>  <br>
                                     
                                     <br><br>
             </ion-slide>
          </ion-card> 
       </ion-col>

      <ion-col size="12" size-sm style="text-align: center;"> 
          <ion-card>
            <h1 style="font-size: 14px; font-weight: bold;color: black; ">TUTEH Residence</h1>
               <ion-toolbar>
                  <div slot="start">
                     <p style="font-size: 14px; font-weight: bold;color: black; margin-left: 20px;">
                      Contact Person: Aaron </p>
                  </div >

                  <div style="color: rgb(6, 2, 73);">
                    <ul class="sidebar-nav" style=" font-size: small">
                      <li><ion-button color="light"><ion-icon name="mail" color="tertiary" 
                       ></ion-icon></ion-button></li>
                      <li><ion-button color="light"><ion-icon name="call" 
                          ></ion-icon></ion-button></li>
                    </ul>
                 </div>
                 
                </ion-toolbar>
<br>
                <ion-button color="dark" expand="block" shape="round">
                    <ion-icon name="chevron-forward-outline"color="success" style="margin-right: 40px;"></ion-icon>
                    I would like to move to a different residence
                </ion-button>

               <ion-button color="dark" expand="block" shape="round" >
                 <ion-icon slot="start" name="chevron-forward-outline" color="success" style="margin-right: 50px;"></ion-icon>
                
                   I would like to transfer to a different room
                </ion-button>

              <ion-button color="dark" expand="block" shape="round">
                
                  <ion-icon name="chevron-forward-outline" color="success" style="margin-right: 60px;"></ion-icon>
                
                  I would like to reserve my current room</ion-button>

                  <br>
                  
         </ion-card>
        </ion-col>
   </ion-row>
  
    
    
  </ion-grid>
</ion-content>
















































<!-- <ion-header style="background-color: black;">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button style="background-color: red;"></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark" style="color: white;" align="center">
       <h1>
        RESIDENCE ADMISSION STATUS
     </h1 >
    </ion-title>
    <ion-icon style="font-size: 30px;" slot="end" name="arrow-undo" routerLink="/stud-profile">previous</ion-icon>
  
  </ion-toolbar>
</ion-header>

<ion-content style="background-image: url('assets/pics/student.jpg');">



 
 
  
  <ion-card  style="background-color: lightgray; text-align:center; opacity: 0.8;color: black;" >
    <p>Student Number:{{result.id}}</p>
    <p>Surname Name:{{result.id}}</p>
  
  </ion-card>

<br>


<br>
  <ion-card  style="background-color: lightgray; text-align:center; opacity: 0.8;" >
    
    <form  >
      <ion-item >
       <ion-label >
        STATUS:{{result.id}}
       </ion-label>
      </ion-item>
     <br>
      
     
     
     <ion-item><ion-label >
      YEAR:{{result.id}}
     </ion-label></ion-item>
     
     <br>
     <ion-item><ion-label >
      RESIDENT PERIOD:{{result.id}}
     </ion-label></ion-item>
      <br>
     
     
     <ion-item><ion-label >
      RESIDENT ADDRESS:{{result.id}}
     </ion-label></ion-item>
     <br>
     <ion-item><ion-label >
       ROOM NUMBER:{{result.id}}
     </ion-label></ion-item>
     
      
     
     <br>
     <ion-item><ion-label >
       ROOM TYPE:{{result.id}}
     </ion-label>
     </ion-item>
     
     
    
     
     
     
     </form>
  </ion-card>

<br><br>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<ion-footer  class="ion-footer">
  <ion-toolbar color="dark" >
    <ion-title align="center" >2020 Off campus accomodation</ion-title>
  </ion-toolbar>
</ion-footer>

</ion-content>


 -->
