<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>86543</ion-card>
    </ion-col>
    <ion-col>
      <ion-card>cfgvbhjnkm,</ion-card>
    </ion-col>
  </ion-row>

  <!-- <ion-button >Block Button</ion-button> -->
  <ion-button expand="block" shape="round">Round Button</ion-button>

  <ion-row>
    <ion-col size="6">
      ion-col [size="6"]
    </ion-col>
    <ion-col>
      ion-col
    </ion-col>
    
  </ion-row>

  <ion-row>
    <ion-col size="3">
      ion-col [size="3"]
    </ion-col>
    <ion-col>
      ion-col
    </ion-col>
   
  </ion-row>

  <ion-row>
    <ion-col size="3">
      ion-col [size="3"]
    </ion-col>
    <ion-col size="3" offset="3">
      ion-col [size="3"] [offset="3"]
    </ion-col>
  </ion-row>

  

  <ion-row>
    <ion-col class="ion-align-self-start">
      ion-col [start]
    </ion-col>
    <ion-col class="ion-align-self-center">
      ion-col [center]
    </ion-col>
   
    
  </ion-row>

  <ion-row class="ion-align-items-start">
    <ion-col>
      [start] ion-col
    </ion-col>
    <ion-col>
      [start] ion-col
    </ion-col>
   
    
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col>
      [center] ion-col
    </ion-col>
    <ion-col>
      [center] ion-col
    </ion-col>
   
    
  </ion-row>

  <ion-row class="ion-align-items-end">
    <ion-col>
      [end] ion-col
    </ion-col>
    <ion-col class="ion-align-self-start">
      [end] ion-col [start]
    </ion-col>
    
    
  </ion-row>

  <ion-row>
    <ion-col size="12" size-sm>
      ion-col [size="12"] [size-sm]
    </ion-col>
    <ion-col size="12" size-sm>
      ion-col [size="12"] [size-sm]
    </ion-col>
   >
    
  </ion-row>

  
  
</ion-grid>













































<!-- <ion-header style="background-color: black;">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button style="background-color: red;"></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark" style="color: white;" align="center">
       <h1>
        RESIDENCE ADMISSION STATUS
     </h1 >
    </ion-title>
    <ion-icon style="font-size: 30px;" slot="end" name="arrow-undo" routerLink="/stud-profile">previous</ion-icon>
  
  </ion-toolbar>
</ion-header>

<ion-content style="background-image: url('assets/pics/student.jpg');">



 
 
  
  <ion-card  style="background-color: lightgray; text-align:center; opacity: 0.8;color: black;" >
    <p>Student Number:{{result.id}}</p>
    <p>Surname Name:{{result.id}}</p>
  
  </ion-card>

<br>


<br>
  <ion-card  style="background-color: lightgray; text-align:center; opacity: 0.8;" >
    
    <form  >
      <ion-item >
       <ion-label >
        STATUS:{{result.id}}
       </ion-label>
      </ion-item>
     <br>
      
     
     
     <ion-item><ion-label >
      YEAR:{{result.id}}
     </ion-label></ion-item>
     
     <br>
     <ion-item><ion-label >
      RESIDENT PERIOD:{{result.id}}
     </ion-label></ion-item>
      <br>
     
     
     <ion-item><ion-label >
      RESIDENT ADDRESS:{{result.id}}
     </ion-label></ion-item>
     <br>
     <ion-item><ion-label >
       ROOM NUMBER:{{result.id}}
     </ion-label></ion-item>
     
      
     
     <br>
     <ion-item><ion-label >
       ROOM TYPE:{{result.id}}
     </ion-label>
     </ion-item>
     
     
    
     
     
     
     </form>
  </ion-card>

<br><br>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<ion-footer  class="ion-footer">
  <ion-toolbar color="dark" >
    <ion-title align="center" >2020 Off campus accomodation</ion-title>
  </ion-toolbar>
</ion-footer>

</ion-content>


 -->
