
<ion-menu side="start" menuId="first" contentId="content1" color="dark">
  <ion-header color="dark" >
    <ion-toolbar color="dark">
      
    </ion-toolbar >
  </ion-header >
  <ion-card color="dark" style="  background: linear-gradient(60deg, #00FF7F 50%, lightseagreen 50%);border-radius: 50%; margin-left: 70px; text-align:center" > 
    hello50
  </ion-card>

  <ion-content color="dark">
  
    <ion-list  color="dark" lines="none" *ngFor="let pages of navigate"  >
     
    <ion-menu-toggle auto-hide="true" color="dark">
      <ion-item [routerLink]="pages.url" routerDirection="forward" lines="none" color="dark"  >
          <ion-icon [name]="pages.icon" slot="start"></ion-icon>
             {{pages.title}} 
      </ion-item>
    </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content1" color="dark" ></ion-router-outlet>

<ion-header>
  <ion-toolbar >
  
      <ion-buttons slot="start" color="dark">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <li><a routerLink="/folder/Home"><ion-icon name="log-out-outline" style="font-size: 20px; background-color:rgb(6, 2, 73)
        ; color: white ;" >previous</ion-icon></a></li>
        <li> <div class="border">
          <ion-input type="text" placeholder="Search">
          <ion-icon name="search-outline" slot="start"></ion-icon></ion-input>
              </div>
        </li>
  
        <li><a routerLink="/help/helplord">HELP</a></li>


     
  </ion-toolbar>
</ion-header>




<ion-content>



  <ion-card style="margin-left:80px ; width:220px ;border-radius: 20px; height:50px ;background-color: white;color: rgb(6, 2, 73);">
   
    <ion-label style="color:black ; ;margin-left: 60px;margin-top:-30px;font-size:14px; text-align: left;">
     Dashboard
    </ion-label>
   </ion-card>
 <ion-card style="background-color: rgb(6, 2, 73);
 margin-left: 280px;margin-top: -60px;
 border-radius: 20px; height:50px ; width:220px ; " >
  
  <ion-label style="margin-left: 60px;margin-top:-30px;color:white;
   font-size:14px;margin-left: 30px;width:50px ;">
   Property
  </ion-label>
 </ion-card> 





  <div class="tab">
    <button class="tablinks" (click)="openCity(event, 'Dashboard')">DASHBOARD</button>
    <button class="tablinks" (click)="openCity(event, 'Issues')">ISSUES</button>
    <button class="tablinks" (click)="openCity(event, 'Tenants')">TENANTS</button>
  </div>
  
  <div id="Dashboard" class="tabcontent">
    <h3>Dashboard</h3><br>
    <br>
    
    <h2 style="color:black ;border-left:10px solid rgb(6, 2, 73);"> Overview +Stats:TUTEH Residence</h2>
   <ion-button fill="outline" (click)="presentAlertPrompt()">Broadcast a notice</ion-button>
   <ion-button fill="outline" (click)="presentAlertPrompt2()">Log an issue</ion-button>
<ion-grid>
  <ion-row>
  <ion-col col=6>
  
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Occupied beds</ion-card-title>
      <ion-button color="dark" shape="round"><ion-icon name="bed-outline"></ion-icon>
        7
      </ion-button>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>
  </ion-col>
  
  <ion-col col=2>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Ratings( 7 total)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #label></canvas>
      <br><br><br><br>
      <br>
    </ion-card-content>
   
  </ion-card>
  </ion-col>
  
  </ion-row>
  </ion-grid>
  
  </div>
  
  <div id="Issues" class="tabcontent">
    
    <h1>Issues</h1>
    <ion-searchbar></ion-searchbar>
    <table class="rwd-table">
      
      <tr>
        <th>Date</th>
        <th>Full Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>View</th>
      </tr>
      <tr>
        <td data-th="Date">2020/05/01</td>
        <td data-th="Full Name">Kgopotso Lelake</td>
        <td data-th="Description">Lights not working</td>
        <td data-th="Status">In- progress</td>
        <td data-th="View"><ion-button> view</ion-button></td>
      </tr>
      <tr>
        <td data-th="Date">2020/05/02</td>
        <td data-th="Full Name">Peter moluleka</td>
        <td data-th="Description">stove not working</td>
        <td data-th="Status">In- progress</td>
        <td data-th="View"><ion-button> view</ion-button></td>
      </tr>
      <tr>
        <td data-th="Date">2020/05/01</td>
        <td data-th="Full Name">Noxolo Zuma</td>
        <td data-th="Description">socket not working</td>
        <td data-th="Status">In- progress</td>
        <td data-th="View"><ion-button> view</ion-button></td>
      </tr>
    </table>
    
    <!-- <p>&larr; Drag window (in editor or full page view) to see the effect. &rarr;</p> -->




  </div>
  
  <div id="Tenants" class="tabcontent">
    <h3></h3>
   
    

    <h1>Tenants</h1>
    <ion-searchbar></ion-searchbar>
    <table class="rwd-table">
      
      <tr>
        <th>student Number</th>
        <th>student Number</th>
        <th>building</th>
        <th>Start Date</th>
        <th>End Date</th>
        
      </tr>
      <tr>
        <td data-th="StudentNumber">21826885</td>
        <td data-th="Full Name">Kgopotso Lelake</td>
        <td data-th="Building">1-g-77</td>
        <td data-th="Start Date">2020/05/30</td>
        <td data-th="End Date">2020/05/30</td>
      </tr>
      <tr>
        <td data-th="StudentNumber">21826888</td>
        <td data-th="Full Name">Petre maluleka</td>
        <td data-th="Building">1-g-78</td>
        <td data-th="Start Date">2020/05/30</td>
        <td data-th="End Date">2020/05/30</td>
      </tr>
      <tr>
        <td data-th="StudentNumber">21924885</td>
        <td data-th="Full Name">Noxolo Zuma</td>
        <td data-th="Building">1-g-79</td>
        <td data-th="Start Date">2020/05/30</td>
        <td data-th="End Date">2020/05/30</td>
      </tr>
    </table>




  </div>
  

















   </ion-content>