
<ion-menu side="start" menuId="first" contentId="content1" color="dark">
  <ion-header color="dark" >
    <ion-toolbar color="dark">
      
    </ion-toolbar >
  </ion-header >
  <div class="card11">
    <ion-card color="dark" style="  background: linear-gradient(60deg, #00FF7F 50%, lightseagreen 50%);border-radius: 50%; margin-left: 70px; text-align:center" > 
      hello50
       
    </ion-card>
  </div>
  <ion-content color="dark">
  
    <ion-list  color="dark" lines="none" *ngFor="let pages of navigate"  >
     
    <ion-menu-toggle auto-hide="true" color="dark">
      <ion-item [routerLink]="pages.url" routerDirection="forward" lines="none" color="dark"  >
          <ion-icon [name]="pages.icon" slot="start"></ion-icon>
             {{pages.title}} 
      </ion-item>
    </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content1" color="dark" ></ion-router-outlet>

<ion-header>
  <ion-toolbar >
  
      <ion-buttons slot="start" color="dark">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <li><a routerLink="/folder/Home"><ion-icon name="log-out-outline" style="font-size: 20px; background-color:rgb(6, 2, 73)
        ; color: white ;" >previous</ion-icon></a></li>
        <li> <div class="border">
          <ion-input type="text" placeholder="Search">
          <ion-icon name="search-outline" slot="start"></ion-icon></ion-input>
              </div>
        </li>
  
        <li><a routerLink="/help/helplord">HELP</a></li>


     
  </ion-toolbar>
</ion-header>




<ion-content>



  <ion-card style="margin-left:80px ; width:220px ;border-radius: 20px; height:50px ;background-color: white;color: rgb(6, 2, 73);">
   
    <ion-label style="color:black ; ;margin-left: 60px;margin-top:-30px;font-size:14px; text-align: left;">
     Dashboard
    </ion-label>
   </ion-card>
 <ion-card style="background-color: rgb(6, 2, 73);
 margin-left: 280px;margin-top: -60px;
 border-radius: 20px; height:50px ; width:220px ; " >
  
  <ion-label style="margin-left: 60px;margin-top:-30px;color:white;
   font-size:14px;margin-left: 30px;width:50px ;">
   Property
  </ion-label>
 </ion-card> 





  <div class="tab">
    <button class="tablinks" (click)="openCity(event, 'Dashboard')">DASHBOARD</button>
    <button class="tablinks" (click)="openCity(event, 'images')">ADVERTISE YOUR PROPERTY</button>
    <button class="tablinks" (click)="openCity(event, 'applications')">APPLICATIONS</button>
    <button class="tablinks" (click)="openCity(event, 'Tenants')">TENANTS</button>
    <button class="tablinks" (click)="openCity(event, 'Issues')">ISSUES</button>
   
  </div>
  
  <div id="Dashboard" class="tabcontent">
    <h3>Dashboard</h3><br>
    <br>
    
    <h2 style="color:black ;border-left:10px solid rgb(6, 2, 73);"> Overview +Stats:TUTEH Residence</h2>
   <ion-button fill="outline" (click)="presentAlertPrompt()">Broadcast a notice</ion-button>
   <ion-button fill="outline" (click)="presentAlertPrompt2()">Log an issue</ion-button>
<ion-grid>
  <ion-row>
  <ion-col col=6>
  
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Occupied beds</ion-card-title>
      <ion-button color="dark" shape="round"><ion-icon name="bed-outline"></ion-icon>
        
      </ion-button>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
      <br><br><br><br>
    </ion-card-content>
  </ion-card>
  </ion-col>
  
  <ion-col col=2>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Ratings( 7 total)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #label></canvas>
      <br><br><br><br>
      <br><br>
    </ion-card-content>
   
  </ion-card>
  </ion-col>
  
  </ion-row>
  </ion-grid>
  
  </div>

<!-- get img -->

  <div id="images" class="tabcontent">
    <h3>Upload your Property pictures</h3>
    <br>
    <br>

    <ion-label position="floating">Select a picture</ion-label>
    <ion-input [(ngModel)] = "postImage.image" name = "image" type="file"> 
    </ion-input>
    
   
      
<ion-toolbar color="light">
    <ion-button color="success"  (click)="addImage()">
      Accept 
    </ion-button>

    <ion-button color="danger"  (click)="deleteImg()">
    Cancel
    </ion-button>
</ion-toolbar>
  </div>

  
  <div id="Issues" class="tabcontent">
    
    <h1>Issues</h1>

    <ion-card>
      <ion-title  style="text-align:center ; font-weight: bolder; font-style: italic; color:black;" >
        <h3>Students Complaints</h3>
        {{ issueData.length}} New issues</ion-title>
    </ion-card>

    
    <ion-searchbar></ion-searchbar>
    <ion-card  *ngFor= "let item of issueData" style="font-weight: bold; width:400px;border-left: 20px solid #00003f; border-radius: 10px; background-color: #DCDCDC;">
     
     
     
    
     <ion-label >
     Issue Description: {{item.description}} 
     </ion-label>
     <br>
     <ion-label >
    Issue Type: {{item.Issue_type}}
     </ion-label>
     <br>
     <ion-label >
       Student Number: {{item.student_no}} 
       
     </ion-label>
     <br>


     
    
   </ion-card>



  </div>


  
  <div id="Tenants" class="tabcontent">

    <h3>Students Residing in my Property</h3>
    
    <ion-card>
      <ion-title  style="text-align:center ; font-weight: bolder; font-style: italic; color:black;" >
        {{approved.length}} New Applications</ion-title>
    </ion-card>
      
    <ion-card   style="background-color: rgb(96, 250, 82); border-radius:10px; width:500px ;" *ngFor= "let item of approved" >
         <br>
      
        <ion-label   style="color: black;" id="properties" >
     
          Student Number: {{item.student_no}}
         </ion-label>
        
         <br>
         <ion-label  style="color: black;" >
         First Name: {{item.Full_names}}
         </ion-label>
         <br>
         <ion-label  style="color: black;" >
         Last Name: {{item.Last_name}}
          </ion-label>
          <br>
         <ion-label  style="color: black;" >
          Gender: {{item.gender}}
        </ion-label>
        <br>
        <ion-label  style="color: black;" >
         Identity Number: {{item.Id_no}}
       </ion-label>
       <br>
         <ion-label  style="color: black;" >
           Disability: {{item.disability}}
         </ion-label>
         <br>
         <ion-label  style="color: black;" >
          Student Contact: {{item.contact_student}} 
        </ion-label>
        <br>
         <ion-label  style="color: black;" >
           Student Guardian: {{item.contact_guardian}} 
        </ion-label>
        <br>
         <ion-label  style="color: black;" >
           Course: {{item.course}}
         </ion-label>
         <br>
         <ion-label  style="color: black;" >
           Faculty: {{item.faculty}}
         </ion-label>
         <br>
         <ion-label  style="color: black;" >
           Campus: {{item.campus_study}}
         </ion-label>
         <br>
         <ion-label  style="color: black;" >
           Year of admission: {{item.year_of_admission}}
         </ion-label>
         <br>
         <ion-label  style="color: black;" >
           Sponsor: {{item.sponsor}}
         </ion-label>
         <br>
         
         <ion-label  style="color: black;" >
           Status: {{item.status}}
         </ion-label>
         <br>

        
    
       </ion-card>

  </div>


  
<div id="applications" class="tabcontent">

  <h3>Students Pending Applications</h3>

  <ion-grid style="background-color: 	#FDF5E6;">

    <ion-card>
      <ion-title  style="text-align:center ; font-weight: bolder; font-style: italic; color:black;" >
        {{studApp.length}} New Applications</ion-title>
    </ion-card>
      
    <!--      -->
    <ion-card   style="background-color: rgb(5, 2, 61); border-radius:10px; width:500px ;" *ngFor= "let item of studApp" >
         <br>
      <ion-label   style="color: white;" id="properties" >
     
       Student Number: {{item.student_no}}
      </ion-label>
     
      <br>
      <ion-label  style="color: white;" >
      First Name: {{item.Full_names}}
      </ion-label>
      <br>
      <ion-label  style="color: white;" >
      Last Name: {{item.Last_name}}
       </ion-label>
       <br>
      <ion-label  style="color: white;" >
       Gender: {{item.gender}}
     </ion-label>
     <br>
     <ion-label  style="color: white;" >
      Identity Number: {{item.Id_no}}
    </ion-label>
    <br>
      <ion-label  style="color: white;" >
        Disability: {{item.disability}}
      </ion-label>
      <br>
      <ion-label  style="color: white;" >
       Student Contact: {{item.contact_student}} 
     </ion-label>
     <br>
      <ion-label  style="color: white;" >
        Student Guardian: {{item.contact_guardian}} 
     </ion-label>
     <br>
      <ion-label  style="color: white;" >
        Course: {{item.course}}
      </ion-label>
      <br>
      <ion-label  style="color: white;" >
        Faculty: {{item.faculty}}
      </ion-label>
      <br>
      <ion-label  style="color: white;" >
        Campus: {{item.campus_study}}
      </ion-label>
      <br>
      <ion-label  style="color: white;" >
        Year of admission: {{item.year_of_admission}}
      </ion-label>
      <br>
      <ion-label  style="color: white;" >
        Sponsor: {{item.sponsor}}
      </ion-label>
      <br>
      <ion-label  style="color: white;" >
        Status: {{item.status}}
      </ion-label>
      <br>
         
         <ion-button color="danger" (click)="declinePrompt(item.student_no)" >
         
          <ion-icon name="trash"></ion-icon>
          Decline 
         </ion-button>
    
         <ion-button color="success"  (click)="acceptAlertPrompt(item.student_no)">
          <ion-icon name="shield-checkmark-outline"></ion-icon>
          Accept 
        </ion-button>
        
    
        
    
       </ion-card>
    
    
      </ion-grid>
    
    

</div>




   </ion-content>