

<ion-router-outlet id="content1" color="dark" ></ion-router-outlet>

<ion-header>
  <ion-toolbar >
  
    <ion-buttons slot="start">
      <a routerLink= "/admindash"><ion-icon name="return-down-back-outline" style="font-weight: bold;font-size: 20px;">
      </ion-icon></a>
    </ion-buttons>

      <li><a routerLink="/folder/Home"><ion-icon name="log-out-outline" style="font-size: 20px; background-color:rgb(36, 207, 36)
        ; color: white ;" >previous</ion-icon></a></li>
        <li> <div class="border">
              </div>
        </li>
  
        <!-- <li><a routerLink="/help/helplord">HELP</a></li> -->


     
  </ion-toolbar>
</ion-header>




<ion-content>



  <ion-card style="margin-left:80px ; width:220px ;border-radius: 20px; height:50px ;background-color: white;color: rgb(6, 2, 73);">
   
    <ion-label style="color:black ; ;margin-left: 60px;margin-top:-30px;font-size:14px; text-align: left;">
     Manage
    </ion-label>
   </ion-card>
 <ion-card style="background-color: rgb(36, 207, 36);
 margin-left: 280px;margin-top: -60px;
 border-radius: 20px; height:50px ; width:220px ; " >
  
  <ion-label style="margin-left: 60px;margin-top:-30px;color:white;
   font-size:14px;margin-left: 30px;width:50px ;">
   Students
  </ion-label>
 </ion-card> 





  <div class="tab">
    <button class="tablinks" (click)="openCity(event, 'card')">ISSUES</button>
    <button class="tablinks" (click)="openCity(event, 'Rate')">RATES</button>
    <button class="tablinks" (click)="openCity(event, 'Students')">VIEW ALL STUDENTS</button>
    
  </div>
     
  <ion-card class="mySlides" style="background-image:url(assets/pics/s1.jpg) ;height: 150px;" > 

    
      
    <h1 style="font-size: 30px;font-weight: bolder;color: white; text-align: center;">Tres Students</h1>
   
    <h3 style="font-size: 20px;font-weight: bolder;color:rgb(36, 207, 36); text-align: center;">Here is where you see all the students details, issues and the ratings about their rooms</h3>
        
        

  </ion-card>
  
<div id = "card" class="tabcontent"  >
  <ion-title style="text-align: center">Name of Properties</ion-title>
  <ion-row>
    <ion-col>
  <ion-card class="tablinks" (click)="openCity(event, 'i1')">

    <ion-toolbar>
      <div slot="start">
        <ion-title style="font-size: 18px; font-weight: bold;color: 
        rgb(6, 2, 73);margin-top:-10px; margin-left: 40px;border-left: 10px 	rgb(6, 2, 73)solid ">Issues</ion-title>
      </div >

      <div style="color: rgb(6, 2, 73);margin-right: 10px;" slot="end">
          <ion-button shape="round" color="dark">
            <ion-icon name="hammer-outline"></ion-icon>
             3</ion-button>             
     </div>
    </ion-toolbar>
    <ion-title>Apartment: 1</ion-title>
    <ion-title> Khoza house</ion-title>

  </ion-card>
</ion-col>

<ion-col>
  <ion-card class="tablinks" (click)="openCity(event, 'i2')">
    <ion-toolbar>
      <div slot="start">
        <ion-title style="font-size: 18px; font-weight: bold;color: 
        rgb(6, 2, 73);margin-top:-10px; margin-left: 40px;border-left: 10px 	rgb(6, 2, 73)solid ">Issues</ion-title>
      </div >

      <div style="color: rgb(6, 2, 73);margin-right: 10px;" slot="end">
          <ion-button shape="round" color="dark">
            <ion-icon name="hammer-outline"></ion-icon>
             4</ion-button>             
     </div>
    </ion-toolbar>
    <ion-title>Apartment: 2</ion-title>
    <ion-title>Legae house</ion-title>

  </ion-card>
 </ion-col>
</ion-row>

<ion-row>
  
<ion-col>
  <ion-card class="tablinks" (click)="openCity(event, 'i3')">
    <ion-toolbar>
      <div slot="start">
        <ion-title style="font-size: 18px; font-weight: bold;color: 
        rgb(6, 2, 73);margin-top:-10px; margin-left: 40px;border-left: 10px 	rgb(6, 2, 73)solid ">Issues</ion-title>
      </div >

      <div style="color: rgb(6, 2, 73);margin-right: 10px;" slot="end">
          <ion-button shape="round" color="dark">
            <ion-icon name="hammer-outline"></ion-icon>
             2</ion-button>             
     </div>
    </ion-toolbar>
    <ion-title>Apartment: 3</ion-title>
    <ion-title>Twala house</ion-title>

  </ion-card>
</ion-col>

<ion-col>

  <ion-card class="tablinks" (click)="openCity(event, 'i4')"><ion-toolbar>
    <div slot="start">
      <ion-title style="font-size: 18px; font-weight: bold;color: 
      rgb(6, 2, 73);margin-top:-10px; margin-left: 40px;border-left: 10px 	rgb(6, 2, 73)solid ">Issues</ion-title>
    </div >

    <div style="color: rgb(6, 2, 73);margin-right: 10px;" slot="end">
        <ion-button shape="round" color="dark">
          <ion-icon name="hammer-outline"></ion-icon>
           5</ion-button>             
   </div>
  </ion-toolbar>

    <ion-title>Apartment: 4</ion-title>
    <ion-title>Dlamani house</ion-title>

  </ion-card>
 </ion-col>
</ion-row>

</div>

  <div id="i1" class="tabcontent">
    
    <h1>Issues</h1>
    <ion-searchbar></ion-searchbar>
    <table class="rwd-table">
      
      <tr>
        <th>Notice Sent</th>
        <th>Student Number</th>
        <th>Description</th>
        <th>Status</th>
        <th>Send an email</th>
      </tr>
      <tr>
        <td data-th="Period">2 weeks ago</td>
        <td data-th="Student Number">214587452</td>
        <td data-th="Description">Lights not working</td>
        <td data-th="Status">In- progress</td>
        <td data-th="Send an email"><ion-button color="warning" (click)= "send($event)">send a warning to landlord</ion-button>
        
          <!-- <ion-button color="danger" (click)="AlertPrompt()" >
            <ion-icon name="trash"></ion-icon>
           </ion-button> -->
      </td>
      </tr>
      <tr>
        <td data-th="Period">1 week ago</td>
        <td data-th="Student Number">201457852</td>
        <td data-th="Description">stove not working</td>
        <td data-th="Status">Pending</td>
        <td data-th="Send an email"><ion-button   color="warning" (click)= "send($event)">send a warning to landlord</ion-button></td>
      </tr>
      <tr>
        <td data-th="Period">3 weeks ago</td>
        <td data-th="Student Number">211278512</td>
        <td data-th="Description">socket not working</td>
        <td data-th="Status">Rejected</td>
        <td data-th="Send an email"><ion-button   color="warning" (click)= "send($event)">send a warning to landlord</ion-button></td>
      </tr>
    </table>
  </div>

  <div id="i2" class="tabcontent">
    
    <h1>Issues</h1>
    <ion-searchbar></ion-searchbar>
    <table class="rwd-table">
      
      <tr>
        <th>Notice Sent</th>
        <th>Student Number</th>
        <th>Description</th>
        <th>Status</th>
        <th>Send an email</th>
      </tr>
      <tr>
        <td data-th="Period">2 weeks ago</td>
        <td data-th="Student Number">201452684</td>
        <td data-th="Description">Lights not working</td>
        <td data-th="Status">In- progress</td>
        <td data-th="Send an email"><ion-button  color="warning" (click)= "send($event)">send a warning to landlord</ion-button></td>
      </tr>
      <tr>
        <td data-th="Period">1 week ago</td>
        <td data-th="Student Number">201457896</td>
        <td data-th="Description">stove not working</td>
        <td data-th="Status">Pending</td>
        <td data-th="Send an email"><ion-button   color="warning" (click)= "send($event)">send a warning to landlord</ion-button></td>
      </tr>
      <tr>
        <td data-th="Period">3 weeks ago</td>
        <td data-th="Student Number">201478965</td>
        <td data-th="Description">socket not working</td>
        <td data-th="Status">Rejected</td>
        <td data-th="Send an email"><ion-button   color="warning" (click)= "send($event)">send a warning to landlord</ion-button></td>
      </tr>
    </table>
  </div>

  <div id="i3" class="tabcontent">
    
    <h1>Issues</h1>
    <ion-searchbar></ion-searchbar>
    <table class="rwd-table">
      
      <tr>
        <th>Notice Sent</th>
        <th>Student Number</th>
        <th>Description</th>
        <th>Status</th>
        <th>Send an email</th>
      </tr>
      <tr>
        <td data-th="Period">2 weeks ago</td>
        <td data-th="Student Number">213541327</td>
        <td data-th="Description">Lights not working</td>
        <td data-th="Status">In- progress</td>
        <td data-th="Send an email"><ion-button  color="warning" (click)= "send($event)">send a warning to landlord</ion-button></td>
      </tr>
      <tr>
        <td data-th="Period">1 week ago</td>
        <td data-th="Student Number">211545874</td>
        <td data-th="Description">stove not working</td>
        <td data-th="Status">Pending</td>
        <td data-th="Send an email"><ion-button   color="warning" (click)= "send($event)">send a warning to landlord</ion-button></td>
      </tr>
    
    </table>
  </div>

  <div id="i4" class="tabcontent">
    
    <h1>Issues</h1>
    <ion-searchbar></ion-searchbar>
    <table class="rwd-table">
      
      <tr>
        <th>Notice Sent</th>
        <th>Full Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Send an email</th>
      </tr>
      <tr>
        <td data-th="Period">2 weeks ago</td>
        <td data-th="Student Number">211562486</td>
        <td data-th="Description">Lights not working</td>
        <td data-th="Status">In- progress</td>
        <td data-th="Send an email"><ion-button  color="warning" (click)= "send($event)">send a warning to landlord</ion-button></td>
      </tr>
      <tr>
        <td data-th="Period">1 week ago</td>
        <td data-th="Student Number">211547896</td>
        <td data-th="Description">stove not working</td>
        <td data-th="Status">Pending</td>
        <td data-th="Send an email"><ion-button   color="warning" (click)= "send($event)">send a warning to landlord</ion-button></td>
      </tr>
      <tr>
        <td data-th="Period">3 weeks ago</td>
        <td data-th="Student Number">126548624</td>
        <td data-th="Description">socket not working</td>
        <td data-th="Status">Rejected</td>
        <td data-th="Send an email"><ion-button  color="warning" (click)= "send($event)">send a warning to landlord</ion-button></td>
      </tr>
      <tr>
        <td data-th="Period">5 weeks ago</td>
        <td data-th="Student Number">214598745</td>
        <td data-th="Description">socket not working</td>
        <td data-th="Status">Pending</td>
        <td data-th="Send an email"><ion-button   color="warning" (click)= "send($event)">send a warning to landlord</ion-button></td>
      </tr>
      <tr>
        <td data-th="Period">5 weeks ago</td>
        <td data-th="Student Number">214598745</td>
        <td data-th="Description">socket not working</td>
        <td data-th="Status">Pending</td>
        <td data-th="Send an email"><ion-button   color="warning" (click)= "send($event)">send a warning to landlord</ion-button></td>
      </tr>
      <tr>
        <td data-th="Period">6 weeks ago</td>
        <td data-th="Student Number">214598745</td>
        <td data-th="Description">socket not working</td>
        <td data-th="Status">Pending</td>
        <td data-th="Send an email"><ion-button   color="warning" (click)= "send($event)">send a warning to landlord</ion-button></td>
      </tr>
    </table>
  </div>








  
  <div id="Rate" class="tabcontent">
    
    <h1>Ratings in %</h1>
    <ion-searchbar></ion-searchbar>
    <table class="rwd-table">
      
      <tr>
        <th>Property Name</th>
        <th>very_satisfied</th>
        <th>satisfied</th>
        <th>okey</th>
        <th>disappointed</th>
        <th>very_disappointed</th>
        
      </tr>
      <tr>
        <td data-th="Property Name">Khoza</td>
        <td data-th="very_satisfied">60%</td>
        <td data-th="satisfied">20%</td>
        <td data-th="okey">10%</td>
        <td data-th="disappointed">10%</td>
        <td data-th="very_disappointed">10%</td>
      
      </tr>
      <tr>
        <td data-th="Property Name">Legae</td>
        <td data-th="very_satisfied">70%</td>
        <td data-th="satisfied">20%</td>
        <td data-th="okey">5%</td>
        <td data-th="disappointed">5%</td>
        <td data-th="very_disappointed">0%</td>
      </tr>
      <tr>
        <td data-th="Property Name">Twala</td>
        <td data-th="very_satisfied">20%</td>
        <td data-th="satisfied">40%</td>
        <td data-th="okey">20%</td>
        <td data-th="disappointed">10%</td>
        <td data-th="very_disappointed">10%</td>
      </tr>
    </table>
  </div>
  

  <div id="Students" class="tabcontent">

    <h1>All Student</h1>
    <ion-searchbar></ion-searchbar>
    <table class="rwd-table">
      
      <tr>
        <th>Student Number</th>
        <th> Surname</th>
        <th>Initials</th>
        <th>ID</th>
        <th>Gender</th>
        <th>Email Address</th>
        <th>Contant No</th>
        <th>Apartment</th>
        <th>Building</th>
        <th>Start Date</th>
        <th>End Date</th>
        
      </tr>
      <tr>
        <td data-th="Student Number">21826885</td>
        <td data-th=" Name">Lelake</td>
        <td data-th="Initials">K B</td>
        <td data-th="ID">9452145354789</td>
        <td data-th="Gender">Male</td>
        <td data-th="Email Address">kabelo@lelake@gmail.com</td>
        <td data-th="Contant No">0825678419</td>
        <td data-th="Apartment">Khoza</td>
        <td data-th="Building">1-g-77</td>
        <td data-th="Start Date">2020/05/30</td>
        <td data-th="End Date">2020/05/30</td>
      </tr>
      <tr>
        <td data-th="Student Number">241578621</td>
        <td data-th=" Name">Zulu</td>
        <td data-th="Initials">K G</td>
        <td data-th="ID">9452145354789</td>
        <td data-th="Gender">Male</td>
        <td data-th="Email Address">kabelo@lelake@gmail.com</td>
        <td data-th="Contant No">0825678419</td>
        <td data-th="Apartment">Khoza</td>
        <td data-th="Building">1-g-77</td>
        <td data-th="Start Date">2020/05/30</td>
        <td data-th="End Date">2020/05/30</td>
      </tr>
      <tr>
        <td data-th="Student Number">21822155</td>
        <td data-th=" Name">Leyo</td>
        <td data-th="Initials">V W</td>
        <td data-th="ID">9452145354789</td>
        <td data-th="Gender">Female</td>
        <td data-th="Email Address">kabelo@lelake@gmail.com</td>
        <td data-th="Contant No">0825678419</td>
        <td data-th="Apartment">Khoza</td>
        <td data-th="Building">1-g-77</td>
        <td data-th="Start Date">2020/05/30</td>
        <td data-th="End Date">2020/05/30</td>
      </tr>
      <tr>
        <td data-th="Student Number">21826885</td>
        <td data-th=" Name">Lelake</td>
        <td data-th="Initials">K B</td>
        <td data-th="ID">9452145354789</td>
        <td data-th="Gender">Male</td>
        <td data-th="Email Address">kabelo@lelake@gmail.com</td>
        <td data-th="Contant No">0825678419</td>
        <td data-th="Apartment">Khoza</td>
        <td data-th="Building">1-g-77</td>
        <td data-th="Start Date">2020/05/30</td>
        <td data-th="End Date">2020/05/30</td>
      </tr>
    </table>




  </div>
  


   </ion-content>



























<!-- <ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
       

         <a routerLink= "/admindash"><ion-icon name="return-down-back-outline">
         </ion-icon></a>
    </ion-buttons> 
    <ion-title align="center"> Manage Student
      <ion-button   size="small" shape="round" color="danger" style="height: 30px; ">{{addimg}}</ion-button>
    </ion-title>
   
    </ion-toolbar>
</ion-header>


<ion-content>


  <ion-grid style="background-image: url('assets/pics/landlord.jpg');" col="12">

    <ion-card   col="12" *ngFor= "let a of addProp" style=" background-color:rgb(3, 1, 32) ; color: white; opacity: 0.8;border-radius: 10px;">
    
     
 
 
     <br>
     <ion-label>
      STUDENT NUMBER:{{a.phone}}
     </ion-label>
     <br>
     <ion-label>
     ID COPY: {{a.phone}} 
     </ion-label>
     <br>
     <ion-label>
       STUDENT SURNAME: {{a.username}}
     </ion-label>
     <br>
     <ion-label>
      STUDENT NAME: {{a.name}}
     </ion-label>
     <br>
     <ion-label>
      STUDENT EMAIL: {{a.email}}
     </ion-label>
     <br>

     <ion-button  color="danger" (click)="delete()">
      <ion-label>Decline  </ion-label>
    </ion-button>
    <ion-button  color="success" (click)=" accept()">
      <ion-label>Accept</ion-label>
    </ion-button>
    
   </ion-card>

   <br>
   <br>
   <br>
   <br>
 </ion-grid>




  
</ion-content>




<ion-footer  class="ion-footer">
  <ion-toolbar color="dark" >
    <ion-title align="center" >2020 Off campus accomodation</ion-title>
  </ion-toolbar>
</ion-footer> -->