<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center"> Manage Student
      <ion-button   size="small" shape="round" color="danger" style="height: 30px; ">{{addimg}}</ion-button>
    </ion-title>
   
    <ion-icon style="font-size: 30px;" slot="end" name="arrow-undo" routerLink="/landlord-dash">previous</ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-grid style="background-image: url('assets/pics/landlord.jpg');" col="12">

    <ion-card   col="12" *ngFor= "let a of addProp" style="font-weight: bold; background-color:#FFC300 ; color: black; opacity: 0.8;border-radius: 10px;">
    
     
 
 
     <br>
     <ion-label>
      STUDENT NUMBER:{{a.phone}}
     </ion-label>
     <br>
     <ion-label>
     ID COPY: {{a.phone}} 
     </ion-label>
     <br>
     <ion-label>
       STUDENT SURNAME: {{a.username}}
     </ion-label>
     <br>
     <ion-label>
      STUDENT NAME: {{a.name}}
     </ion-label>
     <br>
     <ion-label>
      STUDENT EMAIL: {{a.email}}
     </ion-label>
     <br>

     <ion-button  color="danger" (click)="delete()">
      <ion-label>Decline  </ion-label>
    </ion-button>
    <ion-button  color="success" (click)=" accept()">
      <ion-label>Accept</ion-label>
    </ion-button>
    
   </ion-card>

   <br>
   <br>
   <br>
   <br>
 </ion-grid>




  
</ion-content>




<ion-footer  class="ion-footer">
  <ion-toolbar color="dark" >
    <ion-title align="center" >2020 Off campus accomodation</ion-title>
  </ion-toolbar>
</ion-footer>