
<ion-menu side="start" menuId="first" contentId="content1" color="dark">
  <ion-header color="dark" >
    <ion-toolbar color="dark">
      
    </ion-toolbar >
  </ion-header >
  <ion-card  style="font-size: 30px;"> 
    Welcome Admin
  </ion-card>

  <ion-content color="dark">
  
    <ion-list  color="dark" lines="none" *ngFor="let pages of navigate"  >
     
    <ion-menu-toggle auto-hide="true" color="dark">
      <ion-item [routerLink]="pages.url" routerDirection="forward" lines="none" color="dark"  >
          <ion-icon [name]="pages.icon" slot="start"></ion-icon>
             {{pages.title}} 
      </ion-item>
    </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content1" color="dark" ></ion-router-outlet>

<ion-header>
  <ion-toolbar>

    <ion-buttons   slot="start" style="color: rgb(6, 2, 73);">
      <ion-menu-button sytle="background-color:white"></ion-menu-button>
      </ion-buttons>

   
    
      <ion-icon    slot="end" name="log-out-outline" style="font-size: 20px; background-color:rgb(6, 2, 73)
      ; color: white ;"(click)="navi()"  >previous</ion-icon>

   
  </ion-toolbar>
</ion-header>


<ion-content   >


  <ion-grid style="background-color: 	#FDF5E6;">

<ion-card>
  <ion-title  style="text-align:center ; font-weight: bolder; font-style: italic; color:black;" >
   {{ lookApp.length}} Pending Applications</ion-title>
</ion-card>
  
    
<ion-card   style="background-color:rgb(160, 160, 160); border-radius:10px; width:400px ;"  *ngFor= "let item of lookApp" >
     
     
  <h1 style="color: black;margin-right: 120px;" >{{item.property_name}}  </h1>
 

 <ion-label   style="color: black;" id="properties" >
  PROPERTY OWNER: {{item.full_name}}
</ion-label>
 <br>
 <ion-label  style="color: black;" >
 EMAIL ADDRESS: {{item.landlord_email}} 
 </ion-label>
 <br>
 <ion-label  style="color: black;" >
  CONTACT NUMBER: {{item.telephone}}
  </ion-label>
  <br>
 <ion-label  style="color: black;" >
  HOUSE NUMBER: {{item.house_number}}
</ion-label>
<br>
 <ion-label  style="color: black;" >
   STREET NAME: {{item.street_name}}
 </ion-label>
 <br>
 <ion-label  style="color: black;" >
  SUBURB:  {{item.suburb}}
</ion-label>
<br>
 <ion-label  style="color: black;" >
  CITY/TOWN: {{item.city/town}}
</ion-label>
<br>
 <ion-label  style="color: black;" >
   POSTAL CODE: {{item.Zip_code}}
 </ion-label>
 <br>
 <ion-label  style="color: black;" >
  PROVINCE NAME: {{item.province}}
</ion-label>
<br>
<ion-label  style="color: black;" >
  COUNTRY NAME: {{item.country}}
</ion-label>
<br>
 <ion-label  style="color: black;" >
 NUMBER OF ROOMS: {{item.num_rooms}}
</ion-label>
<br>
<ion-label  style="color: black;" >
 TOTAL FLOORS: {{item.num_floor}}
</ion-label>
<br>
<ion-label  style="color: black;" >
 ROOMS FOR FEMALES: {{item.numFemale_beds}}
</ion-label>
<br>
<ion-label  style="color: black;" >
  ROOMS FOR MALES: {{item.numMale_beds}}
</ion-label>
<br>
<ion-label  style="color: black;" >
  BEDS PER ROOM: {{item.bedsPerRoom}}
</ion-label>
<br>
<ion-label  style="color: black;" >
THE CLOSEST CAMPUS: {{item.campus}}
</ion-label>
<br>
<ion-label  style="color: black;" >
 BLOCK: {{item.blocks}}
</ion-label>
<br>
<ion-label  style="color: black;" >
 DATE APPLIED: {{item.date_apply}}
</ion-label>
<br>
<ion-label  style="color: black;" >
 STATUS: {{item.status}}
 </ion-label>
 <br>
 <ion-label  style="color: black;" >
  ROOMS AVAILABLE: {{item.occupied_rooms}}
 </ion-label>
 <br>

     <ion-button color="danger" (click)="AlertPrompt(item.landlord_email)" >
     
      <ion-icon name="trash"></ion-icon>
      Decline
     </ion-button>

     <ion-button color="success"  (click)="presentAlertPrompt(item.landlord_email)">
      Accept
    </ion-button>
   

    <br>

   </ion-card>


  </ion-grid>




  
</ion-content> 