
 

<ion-header style="background-color: black;">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button style="background-color: rgba(255, 0, 0, 0.664);"></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark" style="color: white;" align="center">{{ folder }} </ion-title>
  </ion-toolbar>
</ion-header>




  <ion-row>
    <ion-col  col="15">
  <ion-card style="width: 650; height:400px;padding-bottom: 0;" >
   
      <img src="tut1.jpg" width="100%"  height="410px">
  
  </ion-card>
  </ion-col>
  </ion-row>




<ion-content  color="warning"  style="object-fit: fill;"  [scrollEvents]="true"
(ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()">

 

<ion-grid >
  
  
  <ion-row >
    <ion-col >
    <ion-button routerLink="/Arcadia" >
     <div>
       <ion-label> Arcadia campus </ion-label> 
         <ion-ripple-effect></ion-ripple-effect> 
        </div>
    </ion-button>
  </ion-col>

<br><br>
 
    <ion-col >
    <ion-button routerLink="/Arts"  >
      <div>
       <ion-label> Arts campus </ion-label> 
         <ion-ripple-effect></ion-ripple-effect> 
        </div>
    </ion-button>
  </ion-col>

<br><br>

  <ion-col >
    <ion-button routerLink="/Pretoria"  >
      <div>
       <ion-label> Pretoria campus </ion-label> 
         <ion-ripple-effect></ion-ripple-effect> 
        </div>
    </ion-button>
  </ion-col>

  <br><br>

  <ion-col >
    <ion-button routerLink="/Ga-Rankua" >
    <div>
       <ion-label> Ga-Rankua campus </ion-label> 
         <ion-ripple-effect></ion-ripple-effect> 
        </div>
        </ion-button>
  </ion-col>

  <br><br>

  <ion-col >
    <ion-button routerLink="/soshanguve"   >
       <ion-label> Soshanguve campus </ion-label> 
         <ion-ripple-effect></ion-ripple-effect> 
    </ion-button>
  </ion-col>


  <br><br>


  <ion-col >
    <ion-button routerLink="/E-malahleni" >
       <ion-label> E-malahleni campus </ion-label> 
         <ion-ripple-effect></ion-ripple-effect> 
    </ion-button>
  </ion-col>



  <br><br>

  
    <ion-col >
    <ion-button routerLink="/Polokwane" >
       <ion-label> Polokwane campus </ion-label> 
         <ion-ripple-effect></ion-ripple-effect> 
    </ion-button>
  </ion-col>



  <br><br>

  
    <ion-col >
    <ion-button routerLink="/Mbombela" >
       <ion-label>Mbombela campus </ion-label> 
         <ion-ripple-effect></ion-ripple-effect> 
    </ion-button>
  </ion-col>




    </ion-row>
 
 

  </ion-grid>

    
</ion-content>
