ion-menu-button {
  color: var(--ion-color-primary);
}



ion-card{


  background-position: center;
  padding-bottom: 0;

 // animation: animate 16s ease-in-out infinite;
 
}

  

 
 

 


@keyframes animate{
  0%{


background-image: url("tut1.jpg");
background-position: cover;
background-repeat:no-repeat ;
width: 1500px;
height: 350px;
  }
  30%{

    background-image: url("tut2.jpg"); 
    background-position: cover;
    background-repeat:no-repeat ;
    width: 2000px;
    height: 350px;
    
    }
    85%{
      background-image: url("tut3.png");
      background-position: cover;
      background-repeat:no-repeat ;
      width: 2000px;
      height: 350px;

    }
 
}














#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: transparent;
}

/* added*/

*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
:root {
  --swiper-navigation-size: 44px;
  /* --swiper-navigation-color: var(--swiper-theme-color); */
}
:root {
  --swiper-theme-color: #007aff;
}
.folder a:link, .folder a:visited {
  text-decoration: none;
}

  ionic-slide{
  flex-direction: column;
  max-width: 100%;
  height: 100%;
  width: 100%;
 min-height: 100%;
margin-top: 100px;
}

 ion-content
 {
   --overflow:hidden;
   text-align: center;
 }

 ion-slide p
 {
  margin: 0;
  font-size: 13px;
  line-height: 15px;
  margin-top: 0;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-bottom: 10px;
 }

 .center
 {
   margin-top: 0;
   margin-bottom: 0;
 }
 .ion-activatable{
  position: relative;
  overflow: hidden;
  
}