
 

<!--<ion-header style="background-color: black;">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button style="background-color: rgba(255, 0, 0, 0.664);"></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark" style="color: white;" align="center">{{ folder }} </ion-title>
  </ion-toolbar>
</ion-header>




  <ion-row>
    <ion-col  col="15">
  <ion-card style="width: 650; height:400px;padding-bottom: 0;" >
   
      <img src="assets/pics/tut5.jpg" width="100%"  height="410px">
  
  </ion-card>
  </ion-col>
  </ion-row>




<ion-content  color="warning"  style="object-fit: fill;"  [scrollEvents]="true"
(ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()">

 

<ion-grid >
  
  
  <ion-row >
    <ion-col >
    <ion-button routerLink="/Arcadia" >
     <div>
       <ion-label> Arcadia campus </ion-label> 
         <ion-ripple-effect></ion-ripple-effect> 
        </div>
    </ion-button>
  </ion-col>

<br><br>
 
    <ion-col >
    <ion-button routerLink="/Arts"  >
      <div>
       <ion-label> Arts campus </ion-label> 
         <ion-ripple-effect></ion-ripple-effect> 
        </div>
    </ion-button>
  </ion-col>

<br><br>

  <ion-col >
    <ion-button routerLink="/Pretoria"  >
      <div>
       <ion-label> Pretoria campus </ion-label> 
         <ion-ripple-effect></ion-ripple-effect> 
        </div>
    </ion-button>
  </ion-col>

  <br><br>

  <ion-col >
    <ion-button routerLink="/Ga-Rankua" >
    <div>
       <ion-label> Ga-Rankua campus </ion-label> 
         <ion-ripple-effect></ion-ripple-effect> 
        </div>
        </ion-button>
  </ion-col>

  <br><br>

  <ion-col >
    <ion-button routerLink="/soshanguve"   >
       <ion-label> Soshanguve campus </ion-label> 
         <ion-ripple-effect></ion-ripple-effect> 
    </ion-button>
  </ion-col>


  <br><br>


  <ion-col >
    <ion-button routerLink="/E-malahleni" >
       <ion-label> E-malahleni campus </ion-label> 
         <ion-ripple-effect></ion-ripple-effect> 
    </ion-button>
  </ion-col>



  <br><br>

  
    <ion-col >
    <ion-button routerLink="/Polokwane" >
       <ion-label> Polokwane campus </ion-label> 
         <ion-ripple-effect></ion-ripple-effect> 
    </ion-button>
  </ion-col>



  <br><br>

  
    <ion-col >
    <ion-button routerLink="/Mbombela" >
       <ion-label>Mbombela campus </ion-label> 
         <ion-ripple-effect></ion-ripple-effect> 
    </ion-button>
  </ion-col>




    </ion-row>
 
 

  </ion-grid>

    
</ion-content>
-->














<ion-menu side="start" menuId="first" contentId="content1">
  <ion-header>
    <ion-toolbar >
      
    </ion-toolbar >
  </ion-header >
  <ion-content>
    <ion-list *ngFor="let pages of navigate">
    <ion-menu-toggle auto-hide="true">
      <ion-item [routerLink]="pages.url" routerDirection="forward">
          <ion-icon [name]="pages.icon" slot="start"></ion-icon>
             {{pages.title}} 
      </ion-item>
    </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content1"></ion-router-outlet>

<ion-header style=" background-color: #00003f ;">
  <ion-toolbar style=" background-color: #00003f ;">
      <ion-buttons slot="end">
      <ion-menu-button ></ion-menu-button>
      </ion-buttons>
      <img src="assets/pics/logo.png" width="80px" height="40px" alt="">
  </ion-toolbar>
</ion-header>





<ion-content style="text-align: center; background-color: #00003f ;">






  <ion-grid style="color: black; background-color: #DCDCDC;" >






  

  <ion-card lines="none" style="background-image: url('assets/pics/land.jpg');  background-repeat: no-repeat; background-attachment: fixed;">
<ion-slides autoplay="5000" loop="true" speed="300" pager="true"  [options]="slideOptsOne" >
  <button style="font-size: 30px;" class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>

<ion-slide class="mySlides" > 

  <h1 align="center" style="font-family: 'Times New Roman', Times, serif;color: lightgreen;font-size: 80px;font-weight: bolder;">23,940</h1>
  <br>
  <br>
<p style="margin-bottom:-150px; font-size: 30px;color: black;">We have accredited a total of 23940+ beds in residences across campuses</p>
</ion-slide>

<ion-slide  class="mySlides">
  <h1 style="font-family: 'Times New Roman', Times, serif;color: lightgreen;font-size: 80px;font-weight: bolder;">7,981</h1>
  <br>
<p style="margin-bottom:-150px; font-size: 30px;color: black;">Total number of allocated students in pretoria west campus as of 11th of march 2020</p>

</ion-slide>
<ion-slide  class="mySlides">
  <h1 style="font-family: 'Times New Roman', Times, serif;color: lightgreen;font-size: 80px;font-weight: bolder;">4,290</h1>
  <br>
<p style="margin-bottom:-150px; font-size: 30px;color: black;">Total number of allocated students in Acardia and Arts campus as of 11th of march 2020</p>

</ion-slide>
<ion-slide  class="mySlides">
  <h1 style="font-family: 'Times New Roman', Times, serif;color: lightgreen;font-size: 80px;font-weight: bolder;">7,981</h1>
  <br>
<p style="margin-bottom:-150px; font-size: 30px;color: black;">Total number of allocated students in pretoria west campus as of 11th of march 2020</p>

</ion-slide>
<ion-slide  class="mySlides">
  <h1 style="font-family: 'Times New Roman', Times, serif;color: lightgreen;font-size: 80px;font-weight: bolder;">2,711</h1>
  <br>
<p style="margin-bottom:-150px; font-size: 30px;color: black;">Total number of allocated students in Soshanguve campus as of 11th of march 2020</p>

</ion-slide>




<ion-slide  class="mySlides">
  <h1 style="font-family: 'Times New Roman', Times, serif;color: lightgreen;font-size: 80px;font-weight: bolder;">1,915</h1>
  <br>
<p style="margin-bottom:-150px; font-size: 30px;color: black;">Total number of allocated students in Ga-Rankuwa campus as of 11th of march 2020</p>

</ion-slide>




<ion-slide  class="mySlides">
  <h1 style="font-family: 'Times New Roman', Times, serif;color: lightgreen;font-size: 80px;font-weight: bolder;">563</h1>
  <br>
<p style="margin-bottom:-150px; font-size: 30px;color: black;">Total number of allocated students in Mbombela campus as of 11th of march 2020</p>

</ion-slide>






<ion-slide  class="mySlides">
  <h1 style="font-family: 'Times New Roman', Times, serif;color: lightgreen;font-size: 80px;font-weight: bolder;">439</h1>
  <br>
<p style="margin-bottom:-150px; font-size: 30px;color: black;">Total number of allocated students in Polokwane campus as of 11th of march 2020</p>

</ion-slide>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<button style="font-size: 30px;" class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
</ion-slides>
<ion-grid>
  <ion-row>
<h1 style="font-size: 50px;font-weight: bolder;color: black;">Be part of a growing community</h1>


    <ion-col col=6>
      <a routerLink="/login1">
      <ion-button style="width: 350px; height:45px;" color="success" shape="round">
          ARE YOU A STUDENT ?
      </ion-button></a>
    </ion-col>




    <ion-col col=6>
      <a routerLink="/login">
      <ion-button style="width: 350px; height:45px;" color="success" shape="round"> 
          ARE YOU AN ACCOMODATION PROVIDER?
      </ion-button></a>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-card> 



<ion-row>



<ion-col>
<ion-icon style="color:#FFA500; font-size:15px ; " name="trophy"></ion-icon>Leased  residences
</ion-col>

<ion-col>
  <ion-icon style="color:#FFA500; font-size:15px ;" name="podium"></ion-icon> Accredited Residences
</ion-col>

<ion-col>
  <ion-icon style="color:#FFA500; font-size:15px ;" name="home"></ion-icon> Non Accredited Residences
</ion-col>

</ion-row>

  
 
  <ion-icon color="success" name="search-outline"></ion-icon>
  <ion-select     name="search-outline"  style="border-bottom: 5px blue; background-color:#DCDCDC ;"
  [(ngModel)]="searchTerm"
  (ionChange)="setFilteredItems()"
  placeholder="Which campus would you like to view for?"    required >
  <ion-icon color="success" name="search-outline"></ion-icon>

   <ion-select-option value="POLOKWANE CAMPUS">POLOKWANE CAMPUS</ion-select-option>
   <ion-select-option value="SOSHAGUVE CAMPUS">SOSHAGUVE CAMPUS</ion-select-option>
   <ion-select-option value="ARCADIA CAMPUS">ARCADIA CAMPUS</ion-select-option>
  <ion-select-option value="ARTS CAMPUS">ARTS CAMPUS</ion-select-option>
    <ion-select-option value="EMALAHLENI CAMPUS">EMALAHLENI CAMPUS</ion-select-option>
    <ion-select-option value="GA-RANKUWA CAMPUS">GA-RANKUWA CAMPUS</ion-select-option>
    <ion-select-option value="MBOMBELA CAMPUS">MBOMBELA CAMPUS</ion-select-option>
    <ion-select-option value="PRETORIA MAIN CAMPUS">PRETORIA MAIN CAMPUS</ion-select-option>
 

    
  </ion-select>



 
    <!-- <ion-row>
      <ion-col col="6">  -->
    <ion-card  *ngFor= "let item of addProp   " style="font-weight: bold; width:400px;border-left: 20px solid #00003f; border-radius: 10px; background-color: #DCDCDC;">
     
     
      <h1 style="color: black;margin-right: 120px;" >{{item.id}}   <ion-icon style="color:#FFA500; font-size:20px ; margin-right:-100px;" name="podium"></ion-icon></h1>
     
  
     <ion-label id="properties" >
      PROPERTY OWNER:{{item.capacity}}
     </ion-label>
     <br>
     <ion-label >
     CITY: {{item.address.city}} 
     </ion-label>
     <br>
     <ion-label >
       STREET ADDRESS: {{item.address.street}}
     </ion-label>
     <br>
     <ion-label >
       POSTAL CODE: {{item.address.zipcode}} <ion-icon style="color:#00003f; font-size:20px ; margin-right:10px;" name="call"></ion-icon>
       <ion-icon  style="color:#00003f; font-size:20px ; margin-right:20px;" name="mail"></ion-icon>
     </ion-label>
     <br>


     
    
   </ion-card>
<!-- </ion-col>
   
  </ion-row> -->
<h1 style="font-weight: bold; width:300px;border-left: 20px solid #00003f;color: #00003f ; ">Who we Are</h1>
<br>
<p  style="color: #00003f ; ">
  TRes is a digital platform built to enhance the quality of life for students in student 
  accommodation while providing appropriate tools and support to accommodation providers. 
  The design and functionality of the platform aims to create ongoing interaction between students, 
  accommodation providers and University administrators in a spirit of cooperation and mutual respect.
   Each of the participants must always feel like their voice is heard.
</p>
<br>
<p  style="color: #00003f ; ">
  The core idea behind TRes is that student accommodation is not only big business,
   it is more importantly about human dignity. It is about the totality of the experience of being a university student.
   It is one of the critical contributory factors to student performance.
</p>
<br>
<p style="color: #00003f ; ">
  Every aspect of TRes reflects this core idea. From students searching for accommodation through to 
  their daily lived experience; and from accommodation providers applying for accreditation or tendering
   a lease through to the daily management of the accommodation facility,
   TRes makes interactions seamless, experiences memorable and results pleasing
</p>
<br>

<p  style="color: #00003f ; ">
  In essence, TRes is the one stop
   shop for student accommodation and soon to be one stop shop for student living.
</p>
 </ion-grid>

<form action="" style="background-color: #00003f; margin-top: -40px;">
  <h1 style="font-weight: bold; width:400px;border-left: 20px solid rgb(122, 243, 122);color:rgb(122, 243, 122) ; ">Get in touch with Us</h1>

  <ion-input style="font-weight: bold; border: 1px solid rgb(122, 243, 122); border-radius:5px ;" requiredgi>
    <ion-label style="color:white ;">Full Names</ion-label>
  </ion-input>

  <ion-input style="font-weight: bold; border: 1px solid rgb(122, 243, 122); border-radius:5px ;" required>
    <ion-label style="color:white ;" >Full Names</ion-label>
  </ion-input>

  <ion-input style="font-weight: bold; border: 1px solid rgb(122, 243, 122);border-radius:5px ;" type="text" required>
    <ion-label style="color:white ;">Message</ion-label>
  </ion-input>
  
<ion-button>
  Submit
</ion-button>
<h1 style="font-weight: bold; width:400px;border-left: 20px solid rgb(122, 243, 122);color:rgb(122, 243, 122) ; ">Where to find us</h1>

<p style="color:white ;">
  TEL : 012 111 7860 | EMAIL : info@t-res.co.za
</p>

<p style="color:white ; width: 350px;">
  TUT Enterprise Holdings, Building 23
23 Meiring Naude Rd, Scientia 627-Jr
Pretoria
0184
</p>


</form>


  
</ion-content>
