fieldset {
    border: 0;
    margin-left: -10px;  
}
ion-input
{
    
    border-radius: 10px;
    border: solid white 1px;

}
ion-select-option 
{
    border: solid black 1px;
    border-radius: 10px;  
}

on-select
{
    border: solid black 1px;
    border-radius: 10px;   
}

ion-content{

    --ion-background-color:rgb(95, 248, 95);
}
li{
    float: right;
   list-style:none;
   text-align: center;
   width: 100px;
   height: 20px;
   line-height: 20px;
   color: aliceblue;
  
  
  }
  a {

    display: inline-block;
    padding: 8px 16px;
    text-align: left;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
