fieldset {
    border: 0;
    margin-left: -10px;  
}
ion-input
{
    
    border-radius: 10px;
    border: solid white 1px;

}
ion-select-option 
{
    border: solid black 1px;
    border-radius: 10px;  
}

on-select
{
    border: solid black 1px;
    border-radius: 10px;   
}

ion-content{

    --ion-background-color:#ddb636f3;
}

