  
<!-- <ion-card>
  <img src="assets/pics/tut1.jpg" width="1500px" height="200px" alt="">
</ion-card> -->

 <ion-content >
  <ion-toolbar>
    <ul class="sidebar-nav" style="text-align: center;font-size: small">
      <div style="text-align:left;font-size: small; ">
        <img src="assets/pics/logo.png" width="80px" height="40px" alt="">
       </div>
      <li><a routerLink="/help/helpstud">HELP</a></li>
      <li><a routerLink="#">FAQS</a></li>
      <li><a routerLink="/folder/home">HOME</a></li>
    </ul>
    <br>
  </ion-toolbar>

  <br><br> <br> <br>

  <p style="color: white;">Register to create an account</p>
  <div class="container">
  <form novalidate
      [formGroup]="myform" >

  



  
 <!-- <fieldset formGroupName="name">

    <div class="form-group"
         [ngClass]="{
        'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
        'has-success': firstName.valid && (firstName.dirty || firstName.touched)
      }">
      <ion-item>
      <ion-label position="fixed">First Name:</ion-label>
    <br>
      <ion-input type="text"
      
             class="form-control"
             formControlName="firstName"
             required  [(ngModel)] = "stuData.firstName">
            </ion-input>
      <div class="form-control-feedback"
           *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" color="warning">
        <p  style="color:red" *ngIf="firstName.errors.required" >First Name is required</p>
      </div>

      
    </ion-item>




      
        <pre>Valid? {{ myform.controls.name.controls.firstName.valid }}</pre>
        <pre>Dirty? {{ myform.controls.name.controls.firstName.dirty }}</pre>
     
    </div> -->




    <!-- <div class="form-group"
         [ngClass]="{
        'has-danger': lastName.invalid && (lastName.dirty || lastName.touched),
        'has-success': lastName.valid && (lastName.dirty || lastName.touched)
      }">
      <ion-item>
      <ion-label position="fixed">Last Name:</ion-label>
      
      <br>
      <ion-input type="text"
      required  [(ngModel)] = "stuData.lastName"
             class="form-control"
             formControlName="lastName"
             required>
            </ion-input>
      <div class="form-control-feedback"
           *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
        <p style="color:red" *ngIf="lastName.errors.required">Last Name is required</p>
      </div>
    </ion-item>
    </div>
    <ion-item>
      <ion-label position="fixed">Gender</ion-label>
      <br>
      <ion-input [(ngModel)] = "stuData.gender" type="gender"
       
             
             required>
             </ion-input></ion-item>

  </fieldset>

  <div class="form-group"
       [ngClass]="{
        'has-danger': email.invalid && (email.dirty || email.touched),
        'has-success': email.valid && (email.dirty || email.touched)
   }">
   <ion-item>
   <ion-label position="fixed">Email:</ion-label>
   <br>
    
    <ion-input type="email"
    required  [(ngModel)] = "stuData.email"
           class="form-control"
           formControlName="email"
           required>
           </ion-input>
    <div class="form-control-feedback"
         *ngIf="email.errors && (email.dirty || email.touched)">
      <p style="color:red" *ngIf="email.errors.required">Email is required</p>
      <p style="color:red" *ngIf="password.errors.pattern">email must contain at least the @ character</p>
    </div>
  </ion-item>

    
      <pre>Valid? {{ myform.controls.email.valid }}</pre>
      <pre>Dirty? {{ myform.controls.email.dirty }}</pre>
   

  </div> -->

  
  





  <div class="form-group"
       [ngClass]="{
        'has-danger': studno.invalid && (studno.dirty || studno.touched),
        'has-success': studno.valid && (studno.dirty || studno.touched)
   }">
   <ion-item>
   <ion-label position="floating"><ion-icon name="person"></ion-icon> STUDENT NUMBER</ion-label>
    <ion-input type="number"
    required  [(ngModel)] = "stuData.studno"
           class="form-control"
           formControlName="studno"
           required>
           </ion-input>
    <div class="form-control-feedback"
         *ngIf="studno.errors && (studno.dirty || studno.touched)">
      <p style="color:red" *ngIf="studno.errors.required">Student Number is required</p>
     
    </div>
  </ion-item>

    <!--
      <pre>Valid? {{ myform.controls.studno.valid }}</pre>
      <pre>Dirty? {{ myform.controls.studno.dirty }}</pre>
    -->

  </div>



  <!-- <div class="form-group"
       [ngClass]="{
        'has-danger': id_no.invalid && (id_no.dirty || id_no.touched),
        'has-success': id_no.valid && (id_no.dirty || id_no.touched)
   }">
   <ion-item>
   <ion-label position="fixed">ID Number:</ion-label>
  
    <br>
    <ion-input type="number"
    required  [(ngModel)] = "stuData.id_no"
           class="form-control"
           formControlName="id_no"
           required>
           </ion-input>
    <div class="form-control-feedback"
         *ngIf="id_no.errors && (id_no.dirty || id_no.touched)">
      <p style="color:red" *ngIf="id_no.errors.required">ID is required</p>
     
    </div>
  </ion-item>

    
      <pre>Valid? {{ myform.controls.email.valid }}</pre>
      <pre>Dirty? {{ myform.controls.email.dirty }}</pre>
   

  </div> -->
  <!-- <div class="form-group"
       [ngClass]="{
        'has-danger': cell_no.invalid && (cell_no.dirty || cell_no.touched),
        'has-success': cell_no.valid && (cell_no.dirty || cell_no.touched)
   }">
   <ion-label position="fixed">cell Number:</ion-label>
  
    
    <ion-input type="number"
    required  [(ngModel)] = "stuData.cell_no"
           class="form-control"
           formControlName="cell_no"
           required>
           </ion-input>
    <div class="form-control-feedback"
         *ngIf="cell_no.errors && (cell_no.dirty || cell_no.touched)">
      <p style="color:red" *ngIf="cell_no.errors.required">cell number is required</p>
    </div>
 

   
  </div> -->





  <!-- <div class="form-group"
  [ngClass]="{
   'has-danger': password.invalid && (password.dirty || password.touched),
   'has-success': password.valid && (password.dirty || password.touched)
}">

<ion-label>Select Campus location</ion-label>
  <ion-item>
   
    <ion-select placeholder="Select campus"   class="form-control"
    formControlName="campus_loc" type="text"  
    [(ngModel)] = "stuData.campus_loc"  required >
      <ion-select-option value="ARCADIA CAMPUS">ARCADIA CAMPUS</ion-select-option>
      <ion-select-option value="ARTS CAMPUS">ARTS CAMPUS</ion-select-option>
      <ion-select-option value="EMALAHLENI CAMPUS">EMALAHLENI CAMPUS</ion-select-option>
      <ion-select-option value="GA-RANKUWA CAMPUS">GA-RANKUWA CAMPUS</ion-select-option>
      <ion-select-option value="MBOMBELA CAMPUS">MBOMBELA CAMPUS</ion-select-option>
      <ion-select-option value="PRETORIA MAIN CAMPUS">PRETORIA MAIN CAMPUS</ion-select-option>
      <ion-select-option value="POLOKWANE CAMPUS">POLOKWANE CAMPUS</ion-select-option>
      <ion-select-option value="SOSHAGUVE CAMPUS">SOSHAGUVE CAMPUS</ion-select-option>

    </ion-select>
  </ion-item>

  </div>
 -->


  <div class="form-group"
       [ngClass]="{
        'has-danger': password.invalid && (password.dirty || password.touched),
        'has-success': password.valid && (password.dirty || password.touched)
   }">
   <ion-item>
   <ion-label position="floating"><ion-icon name="lock-closed"></ion-icon> CREATE PASSWORD</ion-label>
   
    <ion-input   
    required  [(ngModel)] = "stuData.password"
    type="password"
           class="form-control"
           formControlName="password"
        
           required>
           </ion-input>
    <div class="form-control-feedback"
         *ngIf="password.errors && (password.dirty || password.touched)">
      <p style="color:red" *ngIf="password.errors.required">Password is required</p>
      <p  style="color:red" *ngIf="password.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
    </div>
  </ion-item>

</div>

<div class="form-group"
       [ngClass]="{
        'has-danger': password.invalid && (password.dirty || password.touched),
        'has-success': password.valid && (password.dirty || password.touched)
   }">
   <ion-item>
   <ion-label position="floating"> <ion-icon name="lock-closed"></ion-icon> CONFIRM PASSWORD</ion-label>
   
   
    <ion-input>   
   
           </ion-input>
   
  </ion-item>

</div>


























  





<!--
  <div class="form-group"
       [ngClass]="{
        'has-danger': passwordr.invalid && (passwordr.dirty || passwordr.touched),
        'has-success': passwordr.valid && (passwordr.dirty || passwordr.touched)
   }">
   <ion-item>
    <ion-label position="fixed">Re-type Password: </ion-label><br>
    <ion-input type="passwordr"
           class="form-control"
           formControlName="passwordr"
           required>
           </ion-input>
    <div class="form-control-feedback"
         *ngIf="passwordr.errors && (passwordr.dirty || passwordr.touched)">
      <p style="color:red" *ngIf="passwordr.errors.required">Password is required</p>
      <p style="color:red" *ngIf="(passwordr.value != Password.value)">Paswords do not macth</p>
      <p  style="color:red" *ngIf="passwordr.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
    </div>
  </ion-item>
  </div>
  -->
  <!--   *ngIf="(passwordControl.value != rPasswordControl.value) && !rPasswordControl.errors?.required"          -->
  
  <!-- <div class="form-group">
    <ion-item>
      <ion-label for="image">Insert Image</ion-label>
    </ion-item>
    <img width="100" src="../../assets/pics/user1.jpg">
  </div>
  <div class="form-group">
   
  <ion-item>
    <ion-input type="file" name="images" ></ion-input>
  </ion-item>
  </div> -->

  <!-- <ion-button   (click)=" add()" shape="round" color="dark" position="floating">Register </ion-button>
  <a routerLink="/login"> <ion-button  shape="round" color="dark"  position="floating">Sign In</ion-button> </a> -->
 
  <!--
    <
      pre>{{ password.errors | json }}</pre>
  -->
<br>
<p style="color: white;">By signing up, you confirm that you've read
   and accepted our <a href="https://tres-images-storage.s3-eu-west-1.amazonaws.com/Privacy+Policy+20200408.pdf" style="color: rgb(8, 243, 106);;">Terms of Service and Privacy Policy</a></p>
<br>

  <ion-button expand="block" color="success" (click)=" add()">
    
    SIGN UP
  </ion-button>
  <br>
  <p style="color: white; text-align: right;">Have an account? sign in <a routerLink="/login1" style="color: rgb(8, 243, 106);;">here</a></p>
 
  </form>
</div>
</ion-content>

 

  
  
  
  
  
  
  
  
  
  
    
