
<!---

<ion-content>
  <form action="">
  
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>
          Residence Management System
        </ion-title>
      </ion-toolbar >
    </ion-header>
    
  
  
  
    <ion-header>
      <ion-toolbar >
        <ion-title>
          Register Here
        </ion-title>
      </ion-toolbar >
    </ion-header>
  
  
  
  
  <div padding class="pad">
    <ion-item>
      <ion-label position="floating">Enter Name</ion-label>
      <ion-input  id="name" name="name" class="form-control" required minlength="4"type="text">
      </ion-input>
    </ion-item>
  </div>
  
  <div padding class="pad">
    <ion-item>
      <ion-label position="floating">Enter Surname</ion-label>
      <ion-input type="text">
      </ion-input>
    </ion-item>
  </div>
         
          
  
  
  <div padding class="pad">
    <ion-item>
        
      <ion-label position="floating">Enter Email</ion-label>
      <ion-input type="email">
      </ion-input>
    
    </ion-item>
  </div>
  
  
  
  <div padding class="pad">
    <ion-item>
      <ion-label position="floating">Enter cell number</ion-label>
      <ion-input  type="tel"  required="true" clearInput=true minlength="10"  >
      </ion-input>
    </ion-item>
    
  </div>
  
  
  
  
  
  
  <div padding class="pad">
    <ion-item>
      <ion-label position="floating">Enter Password</ion-label>
      <ion-input  type="Password">
      </ion-input>
    </ion-item>
    
  </div>
  <ion-button (click)="doSomething()"shape="round" color="success">Register </ion-button>
     <ion-button shape="round" color="success">Sign In</ion-button>
  </form>
  </ion-content>
  
  
  
  
     
  
  
  
  
  

-->

  






<div class="container">





  <ion-header>
    <ion-toolbar    color="dark"  >
   
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title  align="center" > 
     
        
        Register Here AS Student</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card>
  <img src="tut.jpg" width="1500px" height="200px" alt="">
</ion-card>
  
 
  <form novalidate
      [formGroup]="myform">

  



     
    

  <fieldset formGroupName="name">

    <div class="form-group"
         [ngClass]="{
        'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
        'has-success': firstName.valid && (firstName.dirty || firstName.touched)
      }">


      <ion-item>
      <ion-label position="fixed">First Name:</ion-label>
      
      <ion-input type="text"
      
             class="form-control"
             formControlName="firstName"
             required  [(ngModel)] = "stuData.firstName">
            </ion-input>
      <div class="form-control-feedback"
           *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" color="warning">
        <p  style="color:red" *ngIf="firstName.errors.required" >First Name is required</p>
      </div>

      
    </ion-item>




      <!--
        <pre>Valid? {{ myform.controls.name.controls.firstName.valid }}</pre>
        <pre>Dirty? {{ myform.controls.name.controls.firstName.dirty }}</pre>
      -->
    </div>




    <div class="form-group"
         [ngClass]="{
        'has-danger': lastName.invalid && (lastName.dirty || lastName.touched),
        'has-success': lastName.valid && (lastName.dirty || lastName.touched)
      }">
      <ion-item>
      <ion-label position="fixed">Last Name:</ion-label>
      <ion-input type="text"
      required  [(ngModel)] = "stuData.lastName"
             class="form-control"
             formControlName="lastName"
             required>
            </ion-input>
      <div class="form-control-feedback"
           *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
        <p style="color:red" *ngIf="lastName.errors.required">Last Name is required</p>
      </div>
    </ion-item>
    </div>
  </fieldset>








  <div class="form-group"
       [ngClass]="{
        'has-danger': email.invalid && (email.dirty || email.touched),
        'has-success': email.valid && (email.dirty || email.touched)
   }">
   <ion-item>
    <ion-label position="fixed">Email:</ion-label>
    <ion-input type="email"
    required  [(ngModel)] = "stuData.email"
           class="form-control"
           formControlName="email"
           required>
           </ion-input>
    <div class="form-control-feedback"
         *ngIf="email.errors && (email.dirty || email.touched)">
      <p style="color:red" *ngIf="email.errors.required">Email is required</p>
      <p style="color:red" *ngIf="password.errors.pattern">The email address must contain at least the @ character</p>
    </div>
  </ion-item>
    <!--
      <pre>Valid? {{ myform.controls.email.valid }}</pre>
      <pre>Dirty? {{ myform.controls.email.dirty }}</pre>
    -->

  </div>

  <div class="form-group"
       [ngClass]="{
        'has-danger': password.invalid && (password.dirty || password.touched),
        'has-success': password.valid && (password.dirty || password.touched)
   }">
   <ion-item>
    <ion-label position="fixed">Password: </ion-label>
    <ion-input  
    required  [(ngModel)] = "stuData.password"
    type="password"
           class="form-control"
           formControlName="password"
           required>
           </ion-input>
    <div class="form-control-feedback"
         *ngIf="password.errors && (password.dirty || password.touched)">
      <p style="color:red" *ngIf="password.errors.required">Password is required</p>
      <p  style="color:red" *ngIf="password.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
    </div>
  </ion-item>
  </div>





<!--
  <div class="form-group"
       [ngClass]="{
        'has-danger': passwordr.invalid && (passwordr.dirty || passwordr.touched),
        'has-success': passwordr.valid && (passwordr.dirty || passwordr.touched)
   }">
   <ion-item>
    <ion-label position="fixed">Re-type Password: </ion-label><br>
    <ion-input type="passwordr"
           class="form-control"
           formControlName="passwordr"
           required>
           </ion-input>
    <div class="form-control-feedback"
         *ngIf="passwordr.errors && (passwordr.dirty || passwordr.touched)">
      <p style="color:red" *ngIf="passwordr.errors.required">Password is required</p>
      <p style="color:red" *ngIf="(passwordr.value != Password.value)">Paswords do not macth</p>
      <p  style="color:red" *ngIf="passwordr.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
    </div>
  </ion-item>
  </div>
  -->
  <!--   *ngIf="(passwordControl.value != rPasswordControl.value) && !rPasswordControl.errors?.required"          -->
  


  <ion-button (click)=" add()" (click)="doSomething()"shape="round" color="dark" position="floating">Register </ion-button>
  <ion-button shape="round" color="dark"  position="floating">Sign In</ion-button>
  <!--
    <
      pre>{{ password.errors | json }}</pre>
  -->
  </form>
</div>
 

  
  
  
  
  
  
  
  
  
  
    
