  
<ion-header style="background-color: black;">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button style="background-color: red;"></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark" style="color: white;" align="center">soshanguve </ion-title>
    <ion-icon style="font-size: 30px;" slot="end" name="arrow-undo" routerLink="/studapply">previous</ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid style="color: black;" col="12">

    <ion-card col="12" *ngFor= "let a of addProp" style="font-weight: bold;">
     <h1 style="color: black;" >{{a.property_name}} </h1>
     
 
 
     <br>
     <ion-label>
      PROPERTY OWNER:{{a.property_owner}}
     </ion-label>
     <br>
     <ion-label>
     CITY: {{a.city}} 
     </ion-label>
     <br>
     <ion-label>
       STREET ADDRESS: {{a.street_address}}
     </ion-label>
     <br>
     <ion-label>
       POSTAL CODE: {{a.postal_code}}
     </ion-label>
     <br>


     <ion-button   routerLink="/applynow">
      <ion-label>apply</ion-label>
    </ion-button>
    
   </ion-card>

   
 </ion-grid>




  
</ion-content>
