<!-- <ion-header style="background-color: black;">
  <ion-toolbar color="dark">
  
    <ion-title color="dark" style="color: white;" align="center">{{ folder }} </ion-title>
    <ion-icon style="font-size: 30px;" slot="end" name="arrow-undo" routerLink="/folder/hom">previous</ion-icon>
  
  </ion-toolbar>
</ion-header> -->

<ion-content login-header ion-padding>
  <ion-toolbar>
    <ul class="sidebar-nav" style="text-align: center;font-size: small">
      <div style="text-align:left;font-size: small; ">
        <img src="assets/pics/logo.png" width="80px" height="40px" alt="">
       </div>
      <li><a routerLink="/help/helplord">HELP</a></li>
      <li><a routerLink="#">FAQS</a></li>
      <li><a routerLink="/folder/home">HOME</a></li>
    </ul>
  </ion-toolbar>
  

  
  <br><br> <br> <br>

  <p style="color: white;">Sign in to access your account</p>
      
   
  <form>

    <div linespace></div>

    <br>

<ion-item transparent>
  <ion-label position = "floating"><ion-icon name="mail"></ion-icon> EMAIL</ion-label>
<ion-input [(ngModel)] = "loginUserData.email" type="email" id = "email" name ="email" class="form-control"
#email = "ngModel" autofocus required email ngModel></ion-input>    
</ion-item>
<div class="alert alert-danger" role="alert" *ngIf="email.invalid && (email.dirty || email.touched)">
  Please enter a valid email.
</div>

<ion-item transparent> 
<ion-label position = "floating"><ion-icon name="lock-closed"></ion-icon> PASSWORD</ion-label>
<ion-input [(ngModel)]="loginUserData.email" type="password" name="password" id="password" class="form-control"
placeholder="" #Password="ngModel" required minlength="8" maxlength="20" ngModel ></ion-input> 
</ion-item>
<div class="alert alert-danger" role="alert" *ngIf="Password.invalid && (Password.dirty || Password.touched)" style="color:red">
  Please enter a valid password between 8 to 20 chars.
</div>
<br>

<ion-button class = "ion-text-center" color="secondary"  expand="block"
(click)="loginUser()">Sign In</ion-button>
<br>


<p style="text-align: left; color: white;">No account? sign up<a routerLink="/landlord-reg" style="color: rgb(27, 219, 245);">here</a></p>


</form>

</ion-content>
