

  <ion-header>
    <ion-toolbar    color="dark"  >
   
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title  align="center" > 
     
        
      Login</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content login-header ion-padding>
  <div class = "login-header ion-padding">
    <img class = "logo-img" src="assets/icon/tut.png" alt="">
  </div>
  <div class = "ion-text-center">
      <div heading-column-lr>
       <h1 medium-heading >TUTEH PROPERTIES</h1>
      </div>


      <ion-item transparent>
      <ion-label position="floating"></ion-label>
         <ion-input ngModel name = "loginData.email" #email = "ngModel" placeholder = "E-MAIL" type= "text" required></ion-input>
         <div *ngIf = "!email.valid && email.touched">
           <div *ngIf = "email.errors.required">email required</div>

           <div *ngIf = "email != loginData.password">
            <div *ngIf = "email.errors">email doesn't exist</div>
          </div>
           
         </div>
        </ion-item>

     
      <ion-item transparent>
        <ion-label position="floating"></ion-label>
        <ion-input ngModel name  = "loginData.password"  #pwd = "ngModel" placeholder = "PASSWORD" type= "password" required></ion-input>
        <div *ngIf = "!pwd.valid && pwd.touched">
        <div *ngIf = "pwd.errors.required">password required</div>

        <div *ngIf = "pwd != loginData.password">
          <div *ngIf = "pwd.errors">wrong password</div>                                            
        </div>
        </div>
      </ion-item>

    <ion-label class = "ion-text-right"> <span class = "link-button"
      (click) = "forgetPassword()"> Forget Password</span></ion-label>

    <div linespace></div>
 
    <ion-button class = "ion-text-center" color="primary" 
     (click)=" check()">Sign In</ion-button>
    <br>
<br><br>
     <ion-button class = "ion-text-center" color="primary" 
     (click)="Register()">Create New Account</ion-button>

   
    

    
      
  </div> 
</ion-content>

