<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">Landlord Manage Properties</ion-title>
    <ion-icon style="font-size: 30px;" slot="end" name="arrow-undo" routerLink="/landlord-dash">previous</ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-image: url('assets/pics/landlord.jpg');">
    <br>
    <br>
  

    
      <ul id="nav-mobile" class="hide-on-med-and-down">
      <li><a routerLink="/landloard-app"> <ion-button class = "ion-text-center" color="primary" 
        (click)="addprop()">ADD PROPERTIES</ion-button></a></li>
      
      <li><a routerLink="/viewproperties"> <ion-button class = "ion-text-center" color="secondary" 
        (click)="viewprop()">VIEW PROPERTIES</ion-button></a></li>
     
      <li><a routerLink="/updateproperties"> <ion-button class = "ion-text-center" color="warning"
        (click)="updateprop()">UPDATE PROPERTIES</ion-button></a></li>
        
      
    </ul>
   
    


<!-- 
<ion-card>
    <ion-segment (ionChange)="filterContacts($event)" value="All">
      <ion-segment-button value="All" checked>
        All
      </ion-segment-button>
      <ion-segment-button value="Friend">
        Friends
      </ion-segment-button>
      <ion-segment-button value="Family">
        Family
      </ion-segment-button>
    </ion-segment>
  </ion-card> -->
















 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    
<ion-footer  class="ion-footer">
  <ion-toolbar color="dark" >
    <ion-title align="center" >2020 Off campus accomodation</ion-title>
  </ion-toolbar>
</ion-footer>
</div>
</ion-content>
<!-- <nav style="border-bottom: #08acea medium solid; border-top: #08acea medium solid;">
  <div class="container-fluid">
      <div class="nav-wrapper">
           <li><a id="new_bus_btn">Register New Bus</a></li>
      <li><a id="v_bus_duty_btn">View Buses On Duty</a></li>
      <li><a id="v_bus_btn">View All Buses</a></li>
  
      </div>
  </div>
</nav> -->
