<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">Landlord Manage Properties</ion-title>
    <ion-icon style="font-size: 30px;" slot="end" name="arrow-undo" routerLink="/landlord-dash">previous</ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  
   
  

    <ion-grid style="background-image: url('assets/pics/landlord.jpg');" col="12">

      <ion-card   col="12" *ngFor= "let a of addProp" style=" background-color: rosybrown; color: whitesmoke; opacity: 0.8;border-radius: 10px;">
      
       
        <br>
        <ion-label>
          PROPERTY NAME: {{a.username}}
        </ion-label>
   
       <br>
       <br>
       <ion-label>
        PROPERTY ADDRESS:{{a.phone}}
       </ion-label>
      
       <br>
       <br>
       <ion-label>
        PROPERTY ADMIN: {{a.name}}
       </ion-label>
       <br>
       <br>
       <a routerLink="/landloard-app"><ion-button  (click)="add()"><ion-icon name="add">
       </ion-icon></ion-button></a>

       <ion-button color="success" (click)="update()">
        <ion-icon name="create"></ion-icon></ion-button>
   

       
       <ion-button color="danger" (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>

      

      <!-- <ion-button  color="success" (click)=" accept()">
        <ion-label>Accept</ion-label>
      </ion-button> -->


      
     </ion-card>
  
     <br>
     <br>
     <br>
     <br>
   </ion-grid>
  
  
  
  
   
      
        
      
 
   
    
















 
    
    
<ion-footer  class="ion-footer">
  <ion-toolbar color="dark" >
    <ion-title align="center" >2020 Off campus accomodation</ion-title>
  </ion-toolbar>
</ion-footer>

</ion-content>
<!-- <nav style="border-bottom: #08acea medium solid; border-top: #08acea medium solid;">
  <div class="container-fluid">
      <div class="nav-wrapper">
           <li><a id="new_bus_btn">Register New Bus</a></li>
      <li><a id="v_bus_duty_btn">View Buses On Duty</a></li>
      <li><a id="v_bus_btn">View All Buses</a></li>
  
      </div>
  </div>
</nav> -->
