<ion-header>
  <ion-toolbar    color="dark"  >
 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  align="center" > 
      Student Profile
    </ion-title>
    <ion-icon style="font-size: 30px;" slot="end" name="arrow-undo" routerLink="/student-dash">previous</ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br><br>
  <br><br>
  <br><br>
  
  <!--<ion-button (click)="getData()">Show</ion-button>-->
  

  <!--<ion-grid>
    <ion-row>
       <ion-col col=6> 
        <ion-card color="light">
          <ion-icon id="add" name="add-circle"></ion-icon>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>-->
  <form>
    <ion-item lines="none">
      <ion-label position="fixed">Name </ion-label><br/>

      <ion-label  class="ion-padding" id="names">{{result.firstName}}</ion-label>  
    </ion-item>

      <ion-item lines="none">
      <ion-label position="fixed">Surname </ion-label><br/>
      <ion-label  class="ion-padding" id="names"></ion-label>    </ion-item>

      <ion-item lines="none">
        <ion-label position="fixed">ID </ion-label><br/>
        <ion-label  class="ion-padding" id="names"></ion-label>    </ion-item>

      <ion-item lines="none">
        <ion-label position="fixed">Campus </ion-label><br/>
        <ion-label  class="ion-padding" id="names"></ion-label>    </ion-item>

        <ion-item lines="none">
          <ion-label position="fixed">Cell </ion-label><br/>
          <ion-label  class="ion-padding" id="names"></ion-label>    </ion-item>

      
      <ion-item lines="none">
        <ion-label position="fixed">Email </ion-label><br/>
        <ion-label  class="ion-padding" id="names"></ion-label>    </ion-item>

        <ion-item lines="none">
          <ion-label position="fixed">Residence </ion-label><br/>
          <ion-label   class="ion-padding" id="res"></ion-label>        
        </ion-item>
        <br><br><br>

        <ion-item lines="none">
          <ion-label class="ion-text-wrap" position="fixed" id="doc"><strong> Upload Proof Of Registration </strong></ion-label><br/>
          <ion-icon name="cloud-upload" id="upload"></ion-icon>   
        </ion-item>

        <ion-item lines="none">
          <ion-label class="ion-text-wrap" position="fixed" id="doc"><strong>Upload Copy Of ID</strong></ion-label><br/>
          <ion-icon name="cloud-upload" id="upload"></ion-icon>    
        </ion-item>


  </form>
  <br><br>

  <a routerLink="/edit-prof"><ion-button id="edit">Edit</ion-button></a>
  <!--get data from db with getData function-->
  

  

</ion-content>