ion-card{
    margin-top: 50px;
    margin-left:200px;
    height:250px;
    width: 40%;
    
}
//icons
#back{
    float: right;
    zoom:2;
}
#add{
    zoom:4;
    margin-top: 20px;
    margin-left: 40%;
}

ion-label{
    margin-top: 10px;
}
ion-input{
    border: 1px solid grey;
    border-radius: 5px;
    width: 20px;
    
}
//ion iput
#Res{
    height: 100px;
}
ion-item{
    margin-top: 15px;
    margin-left:5px;
}
//links
#back{
    color: black;
}