
<ion-menu side="start" menuId="first" contentId="content1" color="dark">
  <ion-header color="dark" >
    <ion-toolbar color="dark">
      
    </ion-toolbar >
  </ion-header >
  <ion-card color="dark" style="  background: linear-gradient(60deg, #00FF7F 50%, lightseagreen 50%);border-radius: 50%; margin-left: 70px; text-align:center" > 
    hello50
  </ion-card>

  <ion-content color="dark">
  
    <ion-list  color="dark" lines="none" *ngFor="let pages of navigate"  >
     
    <ion-menu-toggle auto-hide="true" color="dark">
      <ion-item [routerLink]="pages.url" routerDirection="forward" lines="none" color="dark"  >
          <ion-icon [name]="pages.icon" slot="start"></ion-icon>
             {{pages.title}} 
      </ion-item>
    </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content1" color="dark" ></ion-router-outlet>

<ion-header color="dark">
  <ion-toolbar color="dark">
  
      <ion-buttons slot="start" color="dark">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
  </ion-toolbar>
</ion-header>
      
<ion-content style="background-image: url('assets/pics/student.jpg'); ; padding-top: -200px;" >



  <ion-card style="margin-left:60px ;border-radius: 20px; height:50px ;background-color: white;color: rgb(6, 2, 73);">
   
    <ion-label style="color: rgb(6, 2, 73) ;margin-left: 60px;margin-top:-30px;font-size:14px; text-align: left;">
    Profile
    </ion-label>
   </ion-card>
  <ion-card style="background-color: rgb(6, 2, 73);
  margin-left: 250px;margin-top: -60px;
  border-radius: 20px; height:50px ;" >
  
  <ion-label style="color: black ;margin-left: 60px;margin-top:-30px;color:white; font-size:14px">
  Update
  </ion-label>
  </ion-card>
  
  <ion-label style="margin-top:-10px; margin-left: 40px;border-left: 10px 	rgb(83, 218, 83) solid;font-size: 30px;color: rgb(4, 4, 78); font-weight: bold;"> Update Profile</ion-label>
  
  <br>
  <br>
  <ion-card style="width: 500px;height: 400px;">
  <form action="">
    <ion-label style="margin-top:-10px; margin-left: 40px;border-left: 10px 	rgb(83, 218, 83) solid;font-size: 30px;color: rgb(4, 4, 78);font-weight: bold;"> Personal Details</ion-label>
  <br>
    <ion-input style="border:2px grey solid ;" position="floating"type="text" placeholder="Student Number"></ion-input>
  <br>
  <ion-input style="border:2px grey solid ;" position="floating"type="text" placeholder="Last Name"></ion-input>
  <br>
  <ion-select style="border:2px grey solid ;" position="floating"type="text" placeholder="Select gender">
    <ion-select-option value="FEMALE">FEMALE</ion-select-option>
    <ion-select-option value="MALE">MALE</ion-select-option>
  </ion-select>
  <br>
  
  
  <ion-label style="margin-top:-10px; margin-left: 40px;border-left: 10px 	rgb(83, 218, 83) solid;font-size: 30px;color: rgb(4, 4, 78);font-weight: bold;"> Disability Details</ion-label>
  <br>
  
  <ion-toggle checked="false"size="">
   
  </ion-toggle>
  <ion-label> Do you have disability?</ion-label>
  <br>
  
  
  </form>
  
  </ion-card>
  <br>
  <ion-card  style="width: 500px;height: 200px;">
   
    <ion-item >
     
     <ion-label>
      Contact Details
     </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>
        Medical Details
       </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label>
        Course Details
       </ion-label>
    </ion-item>
  
  </ion-card>
  
  <br>
  
  <ion-label style="margin-top:-10px; margin-left: 40px;border-left: 10px 	rgb(83, 218, 83) solid;font-size: 30px;color: rgb(4, 4, 78);font-weight: bold;"> Update Profile</ion-label>
  <br>
  
  
  
  
  <ion-card  style="width: 500px;height: 200px;">
   
    <ion-item >
     
     <ion-label>
      Personal Details
     </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>
        Contact Details
       </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label>
        Medical Details
       </ion-label>
    </ion-item>
  
  </ion-card>
  <br>
  <ion-label style="margin-top:-10px; margin-left: 40px;border-left: 10px 	rgb(83, 218, 83) solid;font-size: 30px;color: rgb(4, 4, 78);font-weight: bold;"> Course Details</ion-label>
  <br>
  <ion-card  style="width: 500px;height: 400px;">
  
    <ion-select style="border:2px grey solid ;" position="floating"type="text" placeholder="Campus of study">
      <ion-select-option value="FEMALE">Soshanguve south</ion-select-option>
      <ion-select-option value="MALE">Arcadia</ion-select-option>
      <ion-select-option value="MALE">Main Camp</ion-select-option>
    </ion-select>
    <br>
    <ion-select style="border:2px grey solid ;" position="floating"type="text" placeholder="Select your course">
      <ion-select-option value="FEMALE">Information Technology</ion-select-option>
      <ion-select-option value="MALE">Electrical engineering</ion-select-option>
      <ion-select-option value="MALE">Bio-Tech</ion-select-option>
    </ion-select>
    <br>
    <ion-select style="border:2px grey solid ;" position="floating"type="text" placeholder="Select your sponsor">
      <ion-select-option value="FEMALE">NSFAS</ion-select-option>
      <ion-select-option value="MALE">Other bursaries</ion-select-option>
     
    </ion-select>
  
  
  
    <br>
    <ion-select style="border:2px grey solid ;" position="floating"type="text" placeholder="Select your faculty">
      <ion-select-option value="ICT">ICT</ion-select-option>
      <ion-select-option value="Science">Science</ion-select-option>
     
    </ion-select>
    <br>
    <ion-input style="border:2px grey solid ;" position="floating"type="text" placeholder="Year of adimission"></ion-input>
  
    <br>
  
    <ion-button outline color="danger">Previous</ion-button>
    <ion-button outline color="primary">Finish</ion-button>
  </ion-card>
  </ion-content>
 


 
<!--   
 
  

    <ion-grid style="background-image: url('assets/pics/student.jpg');  background-repeat: no-repeat; background-attachment: fixed;">
     
      
    <ion-row>
       <ion-col col=6> 
<form style=" border-right: 10px solid black;">

  <ion-icon style="margin-left: 30px; zoom: 7;"  name="person"></ion-icon>

<ion-item> <h1 style="margin-left: 50px; font-weight: bold; color: black">PERSONAL INFORMATION</h1></ion-item> 

    <ion-item lines="none">
      <ion-label position="fixed">Name </ion-label><br/>

      <ion-label  class="ion-padding" id="names"></ion-label>  
    </ion-item>

      <ion-item lines="none">
      <ion-label position="fixed">Surname </ion-label><br/>
      <ion-label  class="ion-padding" id="names"> </ion-label>   </ion-item>

      <ion-item lines="none">
        <ion-label position="fixed">ID </ion-label><br/>
        <ion-label  class="ion-padding" id="names">  </ion-label>  </ion-item>

      <ion-item lines="none">
        <ion-label position="fixed">Campus </ion-label><br/>
        <ion-label  class="ion-padding" id="names"> </ion-label>    </ion-item>

        <ion-item lines="none">
          <ion-label position="fixed">Cell </ion-label><br/>
          <ion-label  class="ion-padding" id="names">  </ion-label>   </ion-item>

      
      <ion-item lines="none">
        <ion-label position="fixed">Email </ion-label><br/>
        <ion-label  class="ion-padding" id="names">   </ion-label>  </ion-item>

        <ion-item lines="none">
          <ion-label position="fixed">Residence </ion-label><br/>
          <ion-label   class="ion-padding" id="res"></ion-label>        
        </ion-item>
        <br><br><br>

       <br>
       <br>
       <br>

   
      </form>
</ion-col>



<ion-col  col=6> 
 <br>
<br>
<br>
<br>
<br>
<br>

<a routerLink="/studapply">
  <ion-card align="center" style="border-radius: 20px;  height: 150px;">
   <ion-icon style="zoom: 3;" name="book"></ion-icon>
   <h2>Apply for Accomodation</h2>
 </ion-card>
</a>

  <a routerLink="/resproof"><ion-card align="center"
     style="border-radius: 20px; height: 150px;">
    <ion-icon style="zoom: 3;" name="home"></ion-icon>
    <h2>Residence Report</h2>
  </ion-card>
 </a>





<a routerLink="/studstatus">

  <ion-card align="center" style="border-radius: 20px;  height: 150px; ">
  <ion-icon style="zoom: 3;" name="eye"></ion-icon>
  <h2>Residence Status</h2>
</ion-card></a>


</ion-col>
</ion-row>
<br>
<br>



<ion-footer  class="ion-footer">
  <ion-toolbar color="dark" >
    <ion-title align="center" >2020 Off campus accomodation</ion-title>
  </ion-toolbar>
</ion-footer>
</ion-grid>  -->



