<ion-header>
  <ion-toolbar    color="dark"  >
 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  align="center" > 
      Student Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a id="back" routerLink="/student-dash">
    <ion-icon id="back" name="arrow-undo"></ion-icon>
  </a>
  

  <ion-grid>
    <ion-row>
       <ion-col col=6> 
        <ion-card color="light">
          <ion-icon id="add" name="add-circle"></ion-icon>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form>
    <ion-item lines="none">
      <ion-label position="fixed">Name </ion-label><br/>
      <ion-input type="text" class="form-control"></ion-input>
    </ion-item>

      <ion-item lines="none">
      <ion-label position="fixed">Surname </ion-label><br/>
      <ion-input type="text" class="form-control"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="fixed">ID </ion-label><br/>
        <ion-input type="text" class="form-control"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="fixed">Residence </ion-label><br/>
          <ion-input type="text" id ="Res" class="form-control"></ion-input>
          </ion-item>


  </form>
  


   
    
    
    
    
  

</ion-content>