<ion-header style="background-color: black;">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark" style="color: white;" align="center">Contact </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content style="text-align: center;text-decoration: solid;text-size-adjust: unset;">
  <br>Full Name
  <ion-input type="text" placeholder="e.g john Doe" >
  </ion-input>

   Email 
  <ion-input type="email" placeholder="e.g user@mail.com">
  </ion-input>

  Message
  <ion-textarea type="text" placeholder="start typing..."> 
  </ion-textarea>

  <ion-button>
    Send
  </ion-button>

  <ion-card style="text-align: left; text-decoration-color: black;">
   <h1 style="color: black;">TUT Enterprise Holdings,building 23</h1>
    23 Meiring Naude Rd,Scientia 627-jr<br>
    Pretoria<br>
    0184
    <br><br>0121117860<br>applyfor2020@tutenterprise.co.za
    <ion-icon name="Phone"> 0121117860</ion-icon><br>
    <ion-icon name="Email">applyfor2020@tutenterprise.co.za</ion-icon> 
  </ion-card>

</ion-content>
