


<!--
<ion-header>
  <ion-toolbar color = "dark">
    <ion-title >Residential Management</ion-title>
  </ion-toolbar>
</ion-header>

-->

  <!-- <div style="text-align:center;font-size: small; ">
    <img src="assets/pics/logo.png" width="100px" height="50px" alt="">
   </div> -->
  <ion-content >

    <ion-toolbar>
      <div slot="start" style="text-align:left;font-size: small; ">
        <img src="assets/pics/logo.png" width="80px" height="40px" alt="">
       </div>
      <ul class="sidebar-nav" style="font-size: small">
        <li><a routerLink="/help/helplord">HELP</a></li>
        <li><a routerLink="#">FAQS</a></li>
        <li><a routerLink="/folder/home">HOME</a></li>
      </ul>
    </ion-toolbar>
    <br><br> <br> <br>
  
    <p style="color: white;margin-top:-10px; margin-left: 40px;border-left: 10px 	rgb(27, 219, 245)solid">Register to create an account</p>
        
  <br>
  <form #form="ngForm" (ngSubmit)="register(form)">
  <ion-list>
  
    <!-- <ion-item>
    
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)] = "lordData.fname" name="fname" type= "text" required ></ion-input>
    </ion-item> -->
    
    <!-- <ion-item>
      <ion-label position="floating">Surname</ion-label>
      <ion-input [(ngModel)] ="lordData.lname" name="lname"  type= "text" required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-input [(ngModel)] ="lordData.gender" name="gender"  type= "text" required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Identity number </ion-label>
      <ion-input [(ngModel)]= "lordData.id_no" name="id_no" type= "text" required ></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-label position = "floating"><ion-icon name="mail"></ion-icon> EMAIL</ion-label>
      <ion-input [(ngModel)] = "lordData.email" name ="email"type= "email" 
      pattern ="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="land.lord@gmail.com" required ></ion-input>
    </ion-item>

    
    
  
 

    

   

    <ion-item>
      <ion-label position= "floating"><ion-icon name="lock-closed"></ion-icon> PASSWORD</ion-label>
      <ion-input [(ngModel)] ='lordData.pwd' name ="pwd"type="password" required></ion-input>
    </ion-item>

     <ion-item>
      <ion-label position= "floating"><ion-icon name="lock-closed"></ion-icon> CONFIRM PASSWORD</ion-label>
      <ion-input  type="password" [(ngModel)]='lordData.confirmPwd' name ="confirmPwd"  required></ion-input>  
    </ion-item>
    <br>
    <p style="color: white;">By signing up, you confirm that you've read
       and accepted our <a href="https://tres-images-storage.s3-eu-west-1.amazonaws.com/Privacy+Policy+20200408.pdf" style="color: rgb(8, 243, 106);;">Terms of Service and Privacy Policy</a></p>
    <br>

    <!-- <ion-button  
    color="secondary" >
      
      SIGN UP
    </ion-button> -->
  
      <ion-button type="submit"  expand="block" color="secondary">SIGN UP</ion-button>
    
  <p style="color: white; text-align: right;">Have an account? sign in <a routerLink="/login" style="color: rgb(27, 219, 245);">here</a></p>
 
  </ion-list>
</form>
</ion-content>
