
<ion-content>

  <ion-toolbar>
    <ul class="sidebar-nav" style="text-align: center;font-size: small">
      <div style="text-align:left;font-size: small; ">
        <img src="assets/pics/logo.png" width="80px" height="40px" alt="">
       </div>
      <li><a routerLink="/help/helpstud">HELP</a></li>
      <li><a routerLink="#">FAQS</a></li>
      <li><a routerLink="/folder/home">HOME</a></li>
    </ul>
  </ion-toolbar>

  <br><br> <br> <br>

  <p style="color: white;">Sign in to access your account</p>
  <ion-card style="background-color: white; color:black; border: solid rgb(8, 243, 106) 2px;">
    
     
     <p><ion-icon name="warning" style="color: yellow;text-align: left; width: 30; height: 30;"></ion-icon> Please take note only TUT in off campus resident can register</p>
    
    </ion-card>

  <form>

    

    <br>

<ion-item transparent>
  <ion-label position = "floating"><ion-icon name="person"></ion-icon> STUDENT NUMBER</ion-label>
<ion-input ></ion-input>    
</ion-item>
<!-- [(ngModel)] = "loginUserData.email" type="email" id = "email" name ="email" class="form-control"
#email = "ngModel" autofocus required email ngModel
<div class="alert alert-danger" role="alert" *ngIf="email.invalid && (email.dirty || email.touched)">
  Please enter a valid email.
</div> -->

<ion-item transparent> 
<ion-label position = "floating"><ion-icon name="lock-closed"></ion-icon> PASSWORD</ion-label>
<ion-input  ></ion-input> 
</ion-item>
<!--[(ngModel)]="loginUserData.password" type="password" name="password" id="password" class="form-control"
placeholder="" #Password="ngModel" required minlength="8" maxlength="20" ngModel
<div class="alert alert-danger" role="alert" *ngIf="Password.invalid && (Password.dirty || Password.touched)" style="color:red">
  Please enter a valid password between 8 to 20 chars.
</div> -->
<br>
<ion-button class = "ion-text-center" expand="block" color="success" 
(click)="loginStud()">Sign In</ion-button>
<br>
<p style="text-align: left;color: white;">No account? sign up<a routerLink="/sturegister" style="color: rgb(8, 243, 106);">here</a></p>






</form>
  
</ion-content>
