
<ion-content>

  <ion-toolbar>
    <div slot="start" style="font-size: small; ">
      <img src="assets/pics/logo.png" width="80px" height="40px" alt="">
     </div>
     <div >
    <ul class="sidebar-nav" style="font-size: small; float: right;">
      <li><a routerLink="/help/helpstud">HELP</a></li>
      <li><a routerLink="#">FAQS</a></li>
      <li><a routerLink="/folder/home">HOME</a></li>
    </ul>
  </div>
  </ion-toolbar>

  <br><br> <br> <br>

  <p style="margin-top:-10px; margin-left: 40px;border-left: 10px 	rgb(83, 218, 83) solid;color: white;text-align: left;">   Sign in to access your account</p>
  <ion-card style="background-color: white; color:black; border: solid rgb(8, 243, 106) 2px;">
    
     
     <p><ion-icon name="warning" style="color: yellow;text-align: left; width: 30; height: 30;"></ion-icon> Please take note only TUT in off campus resident can register</p>
    
    </ion-card>

    <br>

<ion-item transparent>
  <ion-label position = "floating"><ion-icon name="person"></ion-icon> STUDENT NUMBER</ion-label>
<ion-input type = "number" [(ngModel)]="studno" ></ion-input>    
</ion-item>


<ion-item transparent> 
<ion-label position = "floating"><ion-icon name="lock-closed"></ion-icon> PASSWORD</ion-label>
<ion-input  type = "password" [(ngModel)]="pwd"></ion-input> 
</ion-item>

<br>
<div class="hover">
<a routerLink = "/resproof">
<ion-button class = "ion-text-center" expand="block" color="success" 
(click)="loginStud()">Sign In</ion-button></a>
</div>
<br>

<ion-toolbar>
  <div slot="end"  >
    <a routerLink="/sturegister" style="color: rgb(8, 243, 106);">
    <p style="color: rgb(8, 243, 106);border-bottom: solid 2px;">No account? sign up here</p>
    </a>
  </div>

  <div slot="start" >
    <!-- <a routerLink="/popemail" ><p style="color: rgb(8, 243, 106);border-bottom: solid 2px;">Forget your password</p></a>
   -->
   <p><ion-button style="color: rgb(8, 243, 106);border-bottom: solid 2px;text-transform: none;" size="small"
    color= "transparent" (click)= "popOver($event)" >Forgot your password</ion-button></p>
  
  </div>
  </ion-toolbar>






  
</ion-content>
