<ion-header>
  <ion-toolbar    color="dark"  >
 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  align="center" style="font-size: xx-large;" > 
   
      
      APPLICATION</ion-title>
      <ion-icon style="font-size: 30px;" slot="end" name="arrow-undo" routerLink="/stud-profile">previous</ion-icon>
  </ion-toolbar>
</ion-header>



<ion-content>

<ion-slide style="background-image: url('assets/pics/student.jpg');" >

  <ion-row>
    <ion-col>

<ion-button >
  
  <ion-label>ARCADIA CAMPUS</ion-label>
</ion-button>

    </ion-col>








    <ion-col>

      <ion-button >
        
        <ion-label>ARTS CAMPUS</ion-label>
      </ion-button>
      
      
          </ion-col>




          <ion-col>

            <ion-button >
              
              <ion-label>EMALAHLENI CAMPUS</ion-label>
            </ion-button>
            
                </ion-col>




                <ion-col>

                  <ion-button >
                    
                    <ion-label>GA-RANKUWA CAMPUS</ion-label>
                  </ion-button>
                  
                      </ion-col>






                      <ion-col>

                        <ion-button >
                          
                          <ion-label>MBOMBELA CAMPUS</ion-label>
                        </ion-button>
                        
                            </ion-col>




                            <ion-col>

                              <ion-button >
                                
                                <ion-label>PRETORIA MAIN CAMPUS</ion-label>
                              </ion-button>
                              
                                  </ion-col>







                                  <ion-col>

                                    <ion-button>
                                      
                                      <ion-label>POLOKWANE CAMPUS</ion-label>
                                    </ion-button>
                                    
                                        </ion-col>






                                        <a routerLink="/process">  <ion-col>

                                          <ion-button >
                                            
                                            <ion-label>soshanguve south</ion-label>
                                          </ion-button>
                                          
                                              </ion-col>
                                            </a>





                                          


  </ion-row>


  
 



</ion-slide>


<ion-footer  class="ion-footer">
  <ion-toolbar color="dark" >
    <ion-title align="center" >2020 Off campus accomodation</ion-title>
  </ion-toolbar>
</ion-footer>
   
</ion-content>
