<ion-header>
  <ion-toolbar    color="dark"  >
 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  align="center" > 
   
      
      APPLICATION</ion-title>
      <ion-icon style="font-size: 30px;" slot="end" name="arrow-undo" routerLink="/student-dash">previous</ion-icon>
  </ion-toolbar>
</ion-header>



<ion-content>

<ion-slide>

  <ion-row>
    <ion-col>

<ion-button (click)="aa()">
  
  <ion-label>ARCADIA CAMPUS</ion-label>
</ion-button>

    </ion-col>








    <ion-col>

      <ion-button (click)="aa()">
        
        <ion-label>ARTS CAMPUS</ion-label>
      </ion-button>
      
      
          </ion-col>




          <ion-col>

            <ion-button (click)="aa()">
              
              <ion-label>EMALAHLENI CAMPUS</ion-label>
            </ion-button>
            
                </ion-col>




                <ion-col>

                  <ion-button (click)="aa()">
                    
                    <ion-label>GA-RANKUWA CAMPUS</ion-label>
                  </ion-button>
                  
                      </ion-col>






                      <ion-col>

                        <ion-button (click)="aa()">
                          
                          <ion-label>MBOMBELA CAMPUS</ion-label>
                        </ion-button>
                        
                            </ion-col>




                            <ion-col>

                              <ion-button (click)="aa()">
                                
                                <ion-label>PRETORIA MAIN CAMPUS</ion-label>
                              </ion-button>
                              
                                  </ion-col>







                                  <ion-col>

                                    <ion-button (click)="aa()">
                                      
                                      <ion-label>POLOKWANE CAMPUS</ion-label>
                                    </ion-button>
                                    
                                        </ion-col>






                                        <a routerLink="/process">  <ion-col>

                                          <ion-button (click)="aa()">
                                            
                                            <ion-label>soshanguve south</ion-label>
                                          </ion-button>
                                          
                                              </ion-col>
                                            </a>





                                          


  </ion-row>


  
 



</ion-slide>



</ion-content>
