<ion-list>
  
  <h1 style="font-size: 14px;font-weight: bold;margin-top:10px; margin-left: 40px;border-left: 10px 	rgb(27, 219, 245)solid">Send a warning</h1>

   <p style="font-size: 12px;">Send the landlord a warning for not providing good services to student</p>
  
   <ion-label postion="floating" style="font-size: 12px;">Email Address</ion-label>
  <ion-input style="border-bottom: solid 2px; " ></ion-input>

  <ion-input placeholder="write a warning" ></ion-input>

  <ion-toolbar>

     <div slot="start">
       <ion-button  type = "button" (click)="sendEmail()">Submit</ion-button>
     </div>

     <div slot="end">
      <ion-button color= "light" (click)="closePop()" >Cancel</ion-button>
     </div>
  </ion-toolbar>
</ion-list>
