<ion-list>
  
  <h1 style="font-weight: bold;margin-top:-10px; margin-left: 40px;border-left: 10px 	rgb(83, 218, 83) solid;
  text-align: left;font-size: 14px;">Reset your password</h1>

   <p style="font-size: 12px; margin-left: 20px;">A link to reset your password will be sent to your student
  tut4life email</p>

   <ion-label postion="floating" style="font-size: 12px; margin-left: 10px; margin-right: 10px;">Student Number</ion-label>
  <ion-input  ></ion-input>
  
 
 
  <ion-toolbar>
     <div slot="start">
       <ion-button  type = "button" (click)="sendEmail()">Submit</ion-button>
     </div>

     <div slot="end">
      <ion-button color= "light" (click)="closePop()" >Cancel</ion-button>
     </div>
  </ion-toolbar>
</ion-list>
