<ion-header style=" background-color: #00003f ;">
  <ion-toolbar style=" background-color: #00003f ;">
      
      <img src="assets/pics/logo.png" width="80px" height="40px" alt="" slot="start">
      <ion-icon style="font-size: 30px;color:whitesmoke" slot="end" name="arrow-undo" 
      routerLink="/manageprop">previous</ion-icon>
  
  </ion-toolbar>
</ion-header>
<h1 style="color:#00003f">Choose a File And Upload the Samples of your Proparties</h1>
<ion-content>
  
    <h1>KITCHEN</h1>

    <div style="text-align: center;">
       <!-- <img src="assets/pics/logo.png" width="" height="" alt=""> -->
       <img [src] ="url1" height="200" width="400">
    </div>

    <!-- 
       <ion-button color="secondary" (click)="editprop()" >POST</ion-button>
    </div> -->

 <ion-toolbar >
  <div slot="start">
    <ion-input type="file" (change)= "onFileSelected($event)" style="color:whitesmoke"></ion-input>
  </div>

    <div slot="end">
      <ion-button type = "button" (click)="onUpload()">Upload</ion-button>
    </div>
  
 </ion-toolbar>
  
  
<br>
  
    <h1>BED-ROOM</h1>

    <div style="text-align: center;">
      <!-- <img src="assets/pics/logo.png" width="" height="" alt=""> -->
      <img [src] ="url2" height="200" width="400">
   </div>

   <!-- 
      <ion-button color="secondary" (click)="editprop()" >POST</ion-button>
   </div> -->
   <ion-toolbar >
 <div slot="start" >
   <ion-input type="file" (change)= "onBed($event)" style="color:whitesmoke"></ion-input>
 </div>

 <div slot="end">
   <ion-button type = "button" (click)="onUpload()">Upload</ion-button>
</div>
</ion-toolbar>
  <br>

  
    <h1>BATH-ROOM</h1>
    <div style="text-align: center;">
      <!-- <img src="assets/pics/logo.png" width="" height="" alt=""> -->
      <img [src] ="url3" height="200" width="400">
   </div>

   <!-- 
      <ion-button color="secondary" (click)="editprop()" >POST</ion-button>
   </div> -->
 <ion-toolbar >
 <div slot="start">
  <ion-input type="file" (change)= "onBath($event)" style="color:whitesmoke"></ion-input>
 </div>
  <div slot="end">
   <ion-button type = "button" (click)="onUpload()">Upload</ion-button>
</div>
</ion-toolbar>
  <br>
    <h1>STUDY-ROOM</h1>
    <div style="text-align: center;">
      <!-- <img src="assets/pics/logo.png" width="" height="" alt=""> -->
      <img [src] ="url4" height="200" width="400">
   </div>

   <!-- 
      <ion-button color="secondary" (click)="editprop()" >POST</ion-button>
   </div> -->
   <ion-toolbar >
 <div slot="start">
  <ion-input type="file" (change)= "onStudy($event)" style="color:whitesmoke"></ion-input>
 </div>
 <div slot="end">
   <ion-button type = "button" (click)="onUpload()">Upload</ion-button>
 </div>

   </ion-toolbar>
</ion-content>
