ion-toolbar{
    --ion-background-color:#00003f;
   }
   h1{
       font-size: 16px;
       text-align: center;
       color:#00003f ;
   } 
   
   ion-content{
    --ion-background-color:rgb(3, 1, 32);
   
}
ion-card{
    background-color: whitesmoke;
}
 