ion-card
{
    background-color: transparent;
    margin-right: 100px;
    margin-left: 100px;
}
ion-input
{
    border-radius: 10px;
    color: black;
    
}
ion-card:hover
{

    background-color:#ed576b;

}
ion-label
{
    font-size: 25px;
    color: black;
}