<ion-menu side="start" menuId="first" contentId="content1" color="dark">
  <ion-header color="dark" >
    <ion-toolbar color="dark">
      
    </ion-toolbar >
  </ion-header >
  <ion-card color="dark" style="  background: linear-gradient(60deg, #00FF7F 50%, lightseagreen 50%);border-radius: 50%; margin-left: 70px; text-align:center" > 
    hello50
      
  </ion-card>

  <ion-content color="dark">
  
    <ion-list  color="dark" lines="none" *ngFor="let pages of navigate"  >
     
    <ion-menu-toggle auto-hide="true" color="dark">
      <ion-item [routerLink]="pages.url" routerDirection="forward" lines="none" color="dark"  >
          <ion-icon [name]="pages.icon" slot="start"></ion-icon>
             {{pages.title}} 
      </ion-item>
    </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content1" color="dark" ></ion-router-outlet>

<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start" style="color: rgb(6, 2, 73);">
      <ion-menu-button sytle="background-color:white"></ion-menu-button>
      </ion-buttons>

    
      <li><a routerLink="/folder/Home"><ion-icon name="log-out-outline" style="font-size: 20px; background-color:rgb(6, 2, 73)
      ; color: white ;" >previous</ion-icon></a></li>
      <li> <div class="border">
        <ion-input type="text" placeholder="Search">
        <ion-icon name="search-outline" slot="start"></ion-icon></ion-input>
            </div>
      </li>

      <li><a routerLink="/help/helplord">HELP</a></li>
    
  </ion-toolbar>
</ion-header>

<ion-content>
 
 <ion-grid>


  <ion-card style="margin-left:60px ;border-radius: 20px; height:50px ;background-color: white;color: rgb(6, 2, 73);">
   
    <ion-label style="color: rgb(6, 2, 73) ;margin-left: 60px;margin-top:-30px;font-size:14px; text-align: left;">
     Dashboard
    </ion-label>
   </ion-card>
 <ion-card style="background-color: rgb(6, 2, 73);
 margin-left: 250px;margin-top: -60px;
 border-radius: 20px; height:50px ;" >
  
  <ion-label style="color: black ;margin-left: 60px;margin-top:-30px;color:white;
   font-size:14px;margin-left: 30px;">
   Profle
  </ion-label>
 </ion-card>  
   
    
  
  <div class="card11">
    <ion-row>
      <ion-col size="12" size-sm style="text-align: center;"> 
        <ion-card>
          <ion-card color="dark" style="  background: linear-gradient(60deg, rgb(6, 101, 243) 50%, rgb(100, 162, 233) 50%);border-radius: 50%; margin-left: 70px; text-align:center;
          margin-top: 40px; height:110px;width: 40%;" > 
            <h1 style="text-align: center;margin-top: 50; font-size: 30;font-weight: bold;color: darkblue;">T</h1>
           <a routerLink = "/edit-prof"><ion-button shape ="round" color="light">edit<ion-icon name="pencil-outline"></ion-icon></ion-button></a>
          </ion-card>




<br>


                  <ion-title style="font-size: 18px; font-weight: bold;color: 
                  rgb(6, 2, 73) ">TUTEH Properties</ion-title>
                

                
       </ion-card>
       
      </ion-col>

      <ion-col size="12" size-sm style="text-align: center;"> 
          <ion-card style="width: 450px;height: 150px;">
            <br>
                <ion-button style="text-transform: none;" color="light"  expand="block" shape="round" (click)= "accOver($event)">
                  <ion-icon slot="end" name="chevron-forward-outline" color="dark" style="margin-left: 200px;">
                  </ion-icon>Account Details
               </ion-button>
              
               <ion-button style="text-transform: none;" color="light"  expand="block" shape="round" (click)= "conOver($event)">
                <ion-icon slot="end" name="chevron-forward-outline" color="dark" style="margin-left: 200px;">
                </ion-icon>Contact Details
               </ion-button>

               <ion-button style="text-transform: none;" color="light"  expand="block" shape="round" (click)= "addOver($event)">
                <ion-icon slot="end" name="chevron-forward-outline" color="dark" style="margin-left: 200px;">
                </ion-icon>Address Details</ion-button>
           
         </ion-card>
        </ion-col>
   </ion-row>
  </div>
  </ion-grid>




  
  

</ion-content>

















<!-- 

 
 <ion-content >
  
  <div  style="background-image: url('assets/pics/landlord.jpg');"> 

    <br>
   <section style = "text-align: center; color:white; font-size: medium;">
   
    
    <div class = "center">
    
    <ion-icon style="text-align: center; zoom: 7;"  name="person"></ion-icon>
  </div>
   
  <h2>Mr {{result.name}}</h2>
    

   </section>
    
   <ion-grid >
     
    <div class="card">
  
  <br>
    
      
      <form  align="center" >
        <ion-item style="background-color: transparent;">
         <ion-label >
           Fullnames:{{result.name}}
         </ion-label>
        </ion-item>
  
        <br>
       <ion-item><ion-label >
        Surname :{{result.name}}
       </ion-label></ion-item>
        <br>
       
       <ion-item><ion-label >
         Identity Number:{{result.phone}}
       </ion-label></ion-item>
       <br>
       <ion-item><ion-label >
         E-mail Address:{{result.email}}
       </ion-label></ion-item>
       
        
       
       <br>
       <ion-item><ion-label >
         Cell Number:{{result.phone}}
       </ion-label>
       </ion-item>
       
       
       <br>
       <ion-item><ion-label >
         Number of properties:{{result.id}}
       </ion-label></ion-item>
       
       
       
       </form>
    
  </div> -->

     
 

<!--    
       <ion-col col=6>
        <a routerLink="/managestud">
          <ion-card align="center" text-center padding color="light" style="border-radius: 20px;">
           
            <h2>Manage Students </h2>
    

            <ion-icon name="people-outline" > </ion-icon>
             <ion-button   size="small" shape="round" color="danger" 
            style="height: 30px; ">{{addimg}}</ion-button> 
         </ion-card>
        </a>
       </ion-col>
     
     <ion-col col=6> 
        <a routerLink="/manageprop">
      <ion-card align="center" text-center padding color="light" style="border-radius: 20px;">
        <h2>Manage Properties</h2>
        <ion-icon name="business-outline"></ion-icon>
      </ion-card>
    </a>
    </ion-col>
 





       <ion-col col=6>
        <a routerLink="/editlordprof">
        <ion-card align="center" text-center padding color="light" style="border-radius: 20px;">
          <h2>Edit Profile</h2>
          <ion-icon name="person-add-outline"></ion-icon>
         </ion-card>
         </a>
       </ion-col> 
     </ion-row>  

  
   </ion-grid> -->

  
    

 


