

  
<ion-header style="background-color: black;">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button style="background-color: red;"></ion-menu-button>
    </ion-buttons>
  
    <ion-title color="dark" style="color: white; font-size: xx-large; " align="center" >WELCOME LANDLORD</ion-title>
  </ion-toolbar>
</ion-header>
 
 
 
 <ion-content >
  <ion-card  style="background-image: url('landlord.jpg');">

   <section text-center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    

   </section>
   <ion-grid >
     
<!--
      <ion-row>
        <ion-col col=6>
          <ion-card text-center padding color="light">
            <ion-icon name="book"></ion-icon>
            <h2>Apply</h2>
          </ion-card>
        </ion-col>


        <ion-col col=6>
          <ion-card text-center padding color="light">
            <ion-icon name="eye"></ion-icon>
            <h2>Residence Status</h2>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col=6 > 
         <a routerLink="/stud-profile" ><ion-card  text-center padding color="light">
           <ion-icon name="person"></ion-icon>
           <h2>Profile</h2>
         </ion-card></a>
       </ion-col>
-->
<ion-row>
       <ion-col col=6>
        <ion-card align="center" text-center padding color="light" style="border-radius: 20px;">
          <h2>Add Residence</h2>
          <ion-icon name="add-circle-outline"></ion-icon>
         </ion-card>
       </ion-col>
     
 

   
       <ion-col col=6>
          <ion-card align="center" text-center padding color="light" style="border-radius: 20px;">
            <h2>View Personal Administrated Residence</h2>
            <ion-icon name="home-outline"></ion-icon>
         </ion-card>
       </ion-col>
     </ion-row>

     

 <ion-row>
     <ion-col col=6> 
      <ion-card align="center" text-center padding color="light" style="border-radius: 20px;">
        <h2>View Properties</h2>
        <ion-icon name="business-outline"></ion-icon>
      </ion-card>
    </ion-col>
 





       <ion-col col=6>
        <ion-card align="center" text-center padding color="light" style="border-radius: 20px;">
          <h2>View Profile</h2>
          <ion-icon name="person-circle-outline"></ion-icon>
         </ion-card>
       </ion-col>
     </ion-row>

 
   </ion-grid>

  
    

 

  
   
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

 <ion-footer  class="ion-footer">
   <ion-toolbar color="dark" >
     <ion-title align="center" >2020 Off campus accomodation</ion-title>
   </ion-toolbar>
 </ion-footer>
    

  


</ion-card>
   
 </ion-content>