// ion-content h1{
//     padding-left: 35%;
// }

//  #first{
//    padding-left: 40%;
//    zoom: 5;
// }
// ion-icon{
//     zoom: 2;
// }


// ion-title{
//     padding-left: 100px;
// }
// .smallLogo{
//     background-color: transparent;
// }

// ion-footer{
//     margin-top:10%;
// }
// a{
//     text-decoration: none;
//     color:black;
// }

// ion-card:hover
// {

//     background-color:#ed576b;

// }
// ion-item{
//     opacity: 0.8;
//     margin-right: 100px;
//     margin-left: 100px;
   
// }

ion-toolbar{
    --ion-background-color:rgb(3, 1, 32);
   }
   :root {
    --ion-color-secondary: #006600;
    --ion-color-secondary-rgb: 0,102,0;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #005a00;
    --ion-color-secondary-tint: #1a751a;
  }