<ion-header>
  <ion-toolbar>
    <ion-title>Emalahleni</ion-title>
    <ion-icon name="arrow-undo" routerLink="./folder">previous</ion-icon>
  </ion-toolbar>

  
</ion-header>

<ion-content style="color: goldenrod;">

<ion-grid style="color: black;" col="12">

    <ion-card>
      <h1 style="color: black;">CORRIDOR HILL</h1>
      9 Ilanga Crescent, Corridor Hill
Contact Person: Fortunate Nokhipha
fortunatenokhipha@gmail.com
0818361979</ion-card>

    <ion-card>
      <h1 style="color: black;">MAKOTI VILLAGE</h1>
      73 Mandela Drive, Witbank, 1035
      Contact Person: Jenny Taljaard
      admin@ovecon.co.za
      0716875026</ion-card>

    <ion-card>
      <h1 style="color: black;">YEYE HOUSE</h1>
      3 Windsor Avenue, Witbank, Emalahleni
Contact Person: Godfrey
yeye@telkomsa.ne
0798591427</ion-card>
    </ion-grid>
</ion-content>
