<ion-header>
  <ion-toolbar color="dark">
    <ion-title>soshanguve</ion-title>
    <ion-icon style="font-size: 200px;"  name="arrow-undo" routerLink="/folder/home">previous</ion-icon>
  </ion-toolbar>

  
</ion-header>

<ion-content style="color: goldenrod;">

<ion-grid style="color: black;" col="12">

   <ion-card col="12" *ngFor= "let a of addProp" style="font-weight: bold;">
    <h1 style="color: black;" >{{a.property_name}} </h1>
    

    <ion-label>
       
      PROPERTY OWNER: {{a.images}}
     </ion-label>
     <br>
    



    <br>
    <ion-label>
       
     PROPERTY OWNER:{{a.title }} 
     <!-- property_owner -->
    </ion-label>
    <br>
    <ion-label>
    CITY: {{a.city}} 
    </ion-label>
    <br>
    <ion-label>
      STREET ADDRESS: {{a.street_address}}
    </ion-label>
    <br>
    <ion-label>
      POSTAL CODE: {{a.postal_code}}
    </ion-label>
    <br>
    <a routerLink="/login">
    <ion-button >
      <ion-label>apply</ion-label>
    </ion-button>
</a>

  </ion-card>
</ion-grid>

</ion-content>
