<ion-header>
  <ion-toolbar>
    <ion-title>soshanguve</ion-title>
    <ion-icon name="arrow-undo" routerLink="./folder">previous</ion-icon>
  </ion-toolbar>

  
</ion-header>

<ion-content style="color: goldenrod;">

<ion-grid style="color: black;" col="12">

<ion-card col="12">
 <h1 style="color: black;">CYNGUIL HOUSE</h1> 
 <p >Stand No. 20 Block G, Soshanguve, 0152
  Contact Person: Cynthia Mangena
  cynguilte@gmail.com
  072 210 4929
  067 144 945</p>
</ion-card>

<ion-card col="12">
  <h1 style="color: black;"> JULY HOUSE</h1>
Erf 921 Block M, Soshanguve 0152
Contact Person: Bongiwe July
julybongiwe@gmail.com
0815440991
0658251031
</ion-card>

<ion-card>
  <h1 style="color: black;"> KHOZA HOUSE</h1>
Erf. 19468 Tantabela Street,Soshanguve South, Ext 10,0152
Contact Person: Ntsako Khoza
ntsakokhoza@gmail.com
0835722275
0739595595
</ion-card>

<ion-card>
  <h1 style="color: black;">O MOKGADI</h1>
  1317 Block DD,Soshanguve 0152
  Contact Person: Makgolo Ellen Shabangu
  makgolo.shabangu@gmail.com
  0824892021
  0658588412</ion-card>

<ion-card>
  <h1 style="color: black;">LEBALLO FAMILY</h1>
  2806 Block M, Ext 1, Soshanguve
  Contact Person: Modise Leballo
  modiseleballo@gmail.com
  0733560183
  0763115737</ion-card>
<ion-card>
  <h1 style="color: black;">LERATONG 2 BUILDING</h1>
  Stand No. 3282, Soshanguve - M X01
  Contact Person: Cedric Pato
  patolerato@yahoo.co.za
  0732967819
  0722791529</ion-card>

<ion-card>
  <h1 style="color: black;">LERATONG BUILDING</h1>
  Stand No. 2464, Soshanguve - M X01
  Contact Person: Cedric Pato
  patolerato@yahoo.co.za
  0732967819
  0722791529</ion-card>

<ion-card>
  <h1 style="color: black;">LITTLE MANHATTAN</h1>
  1 Mahiri Street, Cnr WF Nkomo, Lotus Gardens, Pretoria
  Contact Person: General
  smorutse@gmail.com
  0123876082
  0786720069</ion-card>

<ion-card>
  <h1 style="color: black;">MANONGA HOUSE</h1>
  267 JR No.5 Portion, Klipfontein, Pretoria
  Contact Person: Tshepo Ricardo
  tsheporicardo2@gmail.com
  0677205320
  0735618164</ion-card>

  <ion-card>
    <h1 style="color: black;">MICAH TERRACE</h1>
    490 General De Wet, Pretoria North 0182
    Contact Person: Stephen Khoele
    stephenk@telkomsa.net
    0825512002
    0785178975</ion-card>

  <ion-card>
    <h1 style="color: black;">MISTY LANE COMPLEX</h1>
    Stand NO. 1380, Doreg Avenue, Karenpark Ext 11
    Contact Person: Hanneke Muller
    baruchprop@gmail.com
    082 450 6618
    073 798 6052</ion-card>

  <ion-card>
    <h1 style="color: black;">MLUAYO'S</h1>
    1565 Gull Street, Soshanguve M
    Contact Person: Ayanda Mbambalala
    ayanda.mbambalala@gmail.com
    0724488037
    0722569286</ion-card>

  <ion-card>
    <h1 style="color: black;">MOLEBALOA HOUSE</h1>
    2507 Block LKK, Soshanguve, 0152
    Contact Person: Silas Molebaloa
    silasmonox@gmail.com
    0729950485
    0735768243</ion-card>

  <ion-card>
    <h1 style="color: black;">PIGEON RESIDENCE BLOCK A & B</h1>
    Stand No. 14107, Ext 14, Garankuwa Rural, Soshanguve 0208
    Contact Person: Sonto Hadebe
    schadebesonto@gmail.com
    0719135822
    0679958313</ion-card>

  <ion-card>
    <h1 style="color: black;">PONTSHO YA THUKA</h1>
    82 Robertson Street, Clarina, Akasia 0184
    Contact Person: Thuka Mary Matlhoko
    thukamary@gmail.com
    0828898008</ion-card>

    <ion-card>
      <h1 style="color: black;">POWERPOINT</h1>
      466 Gerrit Marritz Street, Pretoria North
      Contact Person: Phali Pitse
      pitsephali@gmail.com
      0817936023
      0813349887</ion-card>

    <ion-card>
      <h1 style="color: black;">SARM RESIDENCY</h1>
      700 Steve Biko 2-26 Fred Nicholson & 691 Johan Heyns,wonderboom South, Pretoria
      Contact Person: Patel Ajaykumar Ureshbhai
      ajaykrish007@yahoo.co.in
      0614901255
      0832756106</ion-card>

    <ion-card>
      <h1 style="color: black;">SELEPE HOUSE</h1>
      stand No. 2103 Block R, Soshanguve, Pretoria
      Contact Person: Phuti Isaac Selepe
      Selepe.koketso@gmail.com
      0836954588
      0723739928</ion-card>

    <ion-card>
      <h1 style="color: black;">SHAKA RESIDENCE</h1>
      3583 Ext. 4 , Shoshanguve East
      Contact Person: Sthembiso Siyabonga Ndlovu
      admin@spropertyman.co.za
      0727229450
      0710785747</ion-card>

    <ion-card>
      <h1 style="color: black;">SIHLE RESIDENCE</h1>
      6355 Ext 6, Soshanguve East
      Contact Person: Tshepo Letjane
      tshepo@shakansihle.co.za
      0799103356</ion-card>

    <ion-card>
      <h1 style="color: black;">SUNNY LODGE</h1>
      153 Troye St, Sunnyside, Pretoria
      Contact Person: Louie Hendrikz
      louieh@hotmail.com
      0720725320
      0723420251</ion-card>
    </ion-grid>
</ion-content>
