



<ion-menu side="start" menuId="first" contentId="content1" color="dark">
  <ion-header color="dark" >
    <ion-toolbar color="dark">
      
    </ion-toolbar >
  </ion-header >
  <ion-card color="dark" style="  background: linear-gradient(60deg, #00FF7F 50%, lightseagreen 50%);border-radius: 50%; margin-left: 70px; text-align:center" > 
    hello50
  </ion-card>

  <ion-content color="dark">
  
    <ion-list  color="dark" lines="none" *ngFor="let pages of navigate"  >
     
    <ion-menu-toggle auto-hide="true" color="dark">
      <ion-item [routerLink]="pages.url" routerDirection="forward" lines="none" color="dark"  >
          <ion-icon [name]="pages.icon" slot="start"></ion-icon>
             {{pages.title}} 
      </ion-item>
    </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content1" color="dark" ></ion-router-outlet>

<ion-header color="dark">
  <ion-toolbar color="dark">
  
      <ion-buttons slot="end" color="dark">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
  </ion-toolbar>
</ion-header>
