li{
    float: right;
    list-style:none;
    text-align: center;
    width: 70px;
    height: 15px;
    line-height: 10px;
    color: aliceblue;
    text-decoration-line: none;
    font-weight: bold;
  
  
  }
  a {

    text-decoration-line: none;
    padding: 8px 8px;
    font-style: initial;
    text-align: center;
  }
  ion-button{
    margin-left: 60px;
  }