ion-content{

    --ion-background-color:#f4ae00;
}
.login-header{
    position: relative;
    
}
.logo-img{
    display: block;
    width: 120px;
    text-align: left;
}
.h{
    text-align: center;
}
.ion-input{
    border: solid;
    text-align: center;
    position: "floating";
}
[transparent]
{
    --background: transparent;
}
ion-input
{
    --color:#000;
    font-size: 15px;
     position: floating;
     text-align: center;
     border: solid rgb(13, 13, 15) 0.5px;
    
}
[icon-small]{
    width:35px;
}
ion-item{
    --highlight-color-focused:transparent;
    padding:10px;
}
[linespace]
{
    height: 20px;
}
ion-label{
    color:#000;
    opacity: .8;
    font-size: 15px;
    display: block;
}