
<ion-menu side="start" menuId="first" contentId="content1" color="dark">
  <ion-header color="dark" >
    <ion-toolbar color="dark">
      
    </ion-toolbar >
  </ion-header >
  <ion-card color="dark" style="  background: linear-gradient(60deg, #00FF7F 50%, lightseagreen 50%);border-radius: 50%; margin-left: 70px; text-align:center" > 
    hello50
    <a routerLink = "/landlord-dash"><ion-button shape ="round" color="light" style="margin-top: 45px;margin-left: 45px;"><ion-icon name="person-outline"></ion-icon></ion-button></a>
      
  </ion-card>

  <ion-content color="dark">
  
    <ion-list  color="dark" lines="none" *ngFor="let pages of navigate"  >
     
    <ion-menu-toggle auto-hide="true" color="dark">
      <ion-item [routerLink]="pages.url" routerDirection="forward" lines="none" color="dark"  >
          <ion-icon [name]="pages.icon" slot="start"></ion-icon>
             {{pages.title}} 
      </ion-item>
    </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content1" color="dark" ></ion-router-outlet>

<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start" style="color: rgb(6, 2, 73);">
      <ion-menu-button sytle="background-color:white"></ion-menu-button>
      </ion-buttons>

    
      <li><a routerLink="/folder/Home"><ion-icon name="log-out-outline" style="font-size: 20px; background-color:rgb(6, 2, 73)
      ; color: white ;" >previous</ion-icon></a></li>
      <li> <div class="border">
        <ion-input type="text" placeholder="Search">
        <ion-icon name="search-outline" slot="start"></ion-icon></ion-input>
            </div>
      </li>

      <li><a routerLink="/help/helplord">HELP</a></li>
    
  </ion-toolbar>
</ion-header>

<ion-content>
 
 <ion-grid>


  <ion-card style="margin-left:60px ;border-radius: 20px; height:50px ;background-color: white;color: rgb(6, 2, 73);">
   
    <ion-label style="color: rgb(6, 2, 73) ;margin-left: 60px;margin-top:-30px;font-size:14px; text-align: left;">
     Dashboard
    </ion-label>
   </ion-card>
 <ion-card style="background-color: rgb(6, 2, 73);
 margin-left: 250px;margin-top: -60px;
 border-radius: 20px; height:50px ;" >
  
  <ion-label style="color: black ;margin-left: 60px;margin-top:-30px;color:white;
   font-size:14px;margin-left: 30px;">
   Properties
  </ion-label>
 </ion-card>  
   
    <div class="card11">
    <ion-row>
      <ion-col size="12" size-sm style="text-align: center;"> 
        <ion-card>
           <ion-toolbar>
                <div slot="start">
                  <ion-title style="font-size: 18px; font-weight: bold;color: 
                  rgb(6, 2, 73) ;margin-top:-10px; margin-left: 40px;border-left: 10px 	rgb(6, 2, 73)solid">Bed Statistics</ion-title>
                </div >
                <div style="color: rgb(6, 2, 73);margin-right: 10px;" slot="end" >
                  <ion-button color="dark" shape="round"><ion-icon name="bed-outline"></ion-icon> 
                  </ion-button>
               </div>
              </ion-toolbar>
              <ion-card-content>
                <canvas #doughnutCanvas></canvas>
              </ion-card-content>
              
              <br><br><br><br>
              <br>
       </ion-card>
      </ion-col>

      <ion-col size="12" size-sm style="text-align: center;"> 
          <ion-card>
             <ion-toolbar>
                  <div slot="start">
                    <ion-title style="font-size: 18px; font-weight: bold;color: 
                    rgb(6, 2, 73);margin-top:-10px; margin-left: 40px;border-left: 10px 	rgb(6, 2, 73)solid ">Issues</ion-title>
                  </div >

                  <div style="color: rgb(6, 2, 73);margin-right: 10px;" slot="end">
                      <ion-button shape="round" color="dark">
                        <ion-icon name="hammer-outline"></ion-icon>
                         1</ion-button>             
                 </div>
                </ion-toolbar>
                <ion-card-content>
                  <canvas #doughnutCanvas1></canvas>
                </ion-card-content>
                <br><br><br><br>
                <br>
         </ion-card>
        </ion-col>
   </ion-row>
  </div>
<br>
  <h1 style="font-size: 20px; font-weight: bold;color: rgb(6, 2, 73);margin-top:-10px; 
  margin-left: 40px;border-left: 10px 	rgb(6, 2, 73)solid ">Communique & Report</h1>
  
  <div class="card11">
    <ion-row>
      <ion-col size="12" size-sm style="text-align: center;"> 
        <ion-card>
           <ion-toolbar>
                <div slot="start">
                  <ion-title style="font-size: 18px; font-weight: bold;color: 
                  rgb(6, 2, 73);margin-top:-10px; margin-left: 40px;border-left: 10px 	rgb(6, 2, 73)solid ">Tenants Issues</ion-title>
                </div >

                <div style="color: rgb(6, 2, 73);margin-right: 10px;" slot="end">
                  
                    <ion-button shape="round" color="dark">
                      <ion-icon name="notifications-outline"></ion-icon> 0</ion-button>
               </div>
              </ion-toolbar>
              <p style="font-size: 14px;color: black">
                No issues posted </p>
              
              <br><br><br><br>
              <br>
       </ion-card>
      </ion-col>

      <ion-col size="12" size-sm style="text-align: center;"> 
          <ion-card>
             <ion-toolbar>
                  <div slot="start">
                    <ion-title style="font-size: 18px; font-weight: bold;color: 
                    rgb(6, 2, 73); margin-top:-10px; margin-left: 40px;border-left: 10px 	rgb(6, 2, 73)solid ">queries</ion-title>
                  </div >

                  <div style="color: rgb(6, 2, 73);margin-right: 10px;" slot="end">
                      <ion-button shape="round" color="dark"><ion-icon name="notifications-outline"></ion-icon> 0
                      </ion-button>
                 </div>
                </ion-toolbar>
                <p style="font-size: 14px;color: black">
                  No on going queries </p>
                
                <br><br><br><br>
                <br>
         </ion-card>
        </ion-col>
   </ion-row>
  </div>
  </ion-grid>




  
  
  <!-- <ion-content color = "dark"> -->
  <!-- <div class="mycard">
    <ion-router-outlet id="main"></ion-router-outlet>
  
    <ion-router-outlet id="main"></ion-router-outlet>
  
    <div class="ion-padding">
     
  
      <ion-card color = "light">
        <ion-card-header>
          Head to Head comparisons
        </ion-card-header>
        <ion-card-content>
          <canvas #doughnutCanvas1></canvas>
        </ion-card-content>
      </ion-card>
  
      
    </div>
  </div> -->
   <!-- </ion-content> -->
</ion-content>












































































<!-- <ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">VIEW PROPERTIES</ion-title>
    <ion-icon style="font-size: 30px;" slot="end" name="arrow-undo" routerLink="/manageprop">previous</ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-image: url('assets/pics/landlord.jpg');">
    <br>

   
    <br>
  

    
      <ul id="nav-mobile" class="hide-on-med-and-down">
      <li><a routerLink="/landloard-app"> <ion-button class = "ion-text-center" color="primary" 
        (click)="addprop()">ADD PROPERTIES</ion-button></a></li>
      
      <li><a routerLink="/viewproperties"> <ion-button class = "ion-text-center" color="secondary" 
        (click)="viewprop()">VIEW PROPERTIES</ion-button></a></li>
     
      <li><a routerLink="/updateproperties"> <ion-button class = "ion-text-center" color="warning"
        (click)="updateprop()">UPDATE PROPERTIES</ion-button></a></li>
        
    </ul>
<br>
<h1 style="color: aliceblue; font-size: x-large;text-align: center;"></h1>
    <br>
    <ion-card text-center padding >
      <ion-label style="font-size: x-large;"><li class="list-group-item">
        {{edit.title}}
       <ion-button class="btn btn-xs  pull-right" color = "danger"
       (click)="actions.deleteprop( prop.id)">
         delete
       </ion-button>
       <ion-button class="btn btn-xs  pull-right" color = "warning"
       (click)="actions.editprop( prop.id)">
         Edit
       </ion-button>
      </li></ion-label>

    
        
    </ion-card>

<ion-card>
 
</ion-card> 
<ion-footer  class="ion-footer">
  <ion-toolbar color="dark" >
    <ion-title align="center" >2020 Off campus accomodation</ion-title>
  </ion-toolbar>
</ion-footer>
</div>
</ion-content> -->
