<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">Landlord Application</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
    <ion-label position="floating">Name of property</ion-label>
    <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-row>
    <ion-col>
      <ion-title style="margin-left: -25px;" >Address</ion-title>
      <ion-input placeholder="Address 1"></ion-input>
      <ion-input placeholder="Address 2"></ion-input>
      <ion-input placeholder="City"></ion-input>
      <ion-input placeholder="Zip Code"></ion-input>
    </ion-col>
  </ion-row>
</ion-item>

<ion-item>
  <ion-label position="floating"> How far is the property from the TUT campus you selected in Killiometers</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating"> What is the annaul fee per single room in Rands</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating"> Number of spaces available for single rooms</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating"> What is the annaul fee per sharing room in Rands</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating"> Number of spaces available for sharing</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating"> How many spaces(beds) are available ?</ion-label>
  <ion-input></ion-input>
</ion-item>

<br>
  <ion-title align="center">NB please insert all the neccesary documents in order for your application to be processed</ion-title>
<br>

<ion-item>
  <ion-row>
    <ion-col>

  <ion-item>
    <ion-label>
        Lastest copy of municipal account
        <input mbsc-input type="file" placeholder="Select file..." />
    </ion-label>
  </ion-item>


  <ion-item>
    <ion-label>
      Building plans approved by municipality
      <input mbsc-input type="file" placeholder="Select file..." />
    </ion-label>
  </ion-item> 


  <ion-item>
    <ion-label>
      Occupational certificate
      <input mbsc-input type="file" placeholder="Select file..." />
    </ion-label>
  </ion-item>



<ion-item>
    <ion-label>
      Zoning certificate
      <input mbsc-input type="file" placeholder="Select file..." />
    </ion-label>
</ion-item>    
 


<ion-item>
  <ion-label>
      ID copy
      <input mbsc-input type="file" placeholder="Select file..." />
    </ion-label>
  </ion-item>

  
  
<ion-item>
    <ion-label>
      Proof of ownership
      <input mbsc-input type="file" placeholder="Select file..." />
  </ion-label>
</ion-item>



<ion-item>
  <ion-label>
    Tax clearance
    <input mbsc-input type="file" placeholder="Select file..." />
  </ion-label>
</ion-item>




<ion-item>
  <ion-label>
    Company registration document
    <input mbsc-input type="file" placeholder="Select file..." />
  </ion-label>
</ion-item>



<ion-item>
  <ion-label>
    Proof of public liability cover for an amount of no less than R5 Million
    <input mbsc-input type="file" placeholder="Select file..." />
  </ion-label>
</ion-item>



<ion-item>
  <ion-label>
    Proof of payment of R1000.00
    <input mbsc-input type="file" placeholder="Select file..." />
  </ion-label>
</ion-item>



<ion-item>
  <ion-label>
    Latest copy of municipal amount(water/electricity)
    <input mbsc-input type="file" placeholder="Select file..." />
  </ion-label>
</ion-item>



<ion-item>
  <ion-label>
    Valid B-BBEE certificate
    <input mbsc-input type="file" placeholder="Select file..." />
  </ion-label>
</ion-item>



    </ion-col>
  </ion-row>
</ion-item>
</ion-content>
