<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" >
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">Landlord Application</ion-title>
    <ion-icon style="font-size: 30px;" slot="end" name="arrow-undo" routerLink="/landlord-dash">previous</ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content style="background-image:url(assets/pics/landlord1.jpg);">

<ion-item>
    <ion-label position="floating">Name of property</ion-label>
    <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-row>
    <ion-col>
      <ion-title style="margin-left: -25px;" >Address</ion-title>
      <ion-input placeholder="Address 1"></ion-input>
      <ion-input placeholder="Address 2"></ion-input>
      <ion-input placeholder="City"></ion-input>
      <ion-input placeholder="Zip Code"></ion-input>
    </ion-col>
  </ion-row>
</ion-item>


<ion-item>
  <ion-label position="floating"> How far is the property from the TUT campus you selected in Killiometers</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating"> What is the annaul fee per single room in Rands</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating"> Number of spaces available for single rooms</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating"> What is the annaul fee per sharing room in Rands</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating"> Number of spaces available for sharing</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating"> How many spaces(beds) are available ?</ion-label>
  <ion-input></ion-input>
</ion-item>

<br>
  <ion-title align="center">NB please insert all the neccesary documents in order for your application to be processed</ion-title>
<br>

<ion-item>
  <ion-row>
    <ion-col>

  <ion-item>
    <ion-label>
        Lastest copy of municipal account
        <br>

        <input mbsc-input type="file" placeholder="Select file..." />
    </ion-label>
  </ion-item>


  <ion-item>
    <ion-label>
      Building plans approved by municipality:
      <br>
      <input mbsc-input type="file" placeholder="Select file..." />
    </ion-label>
  </ion-item> 


  <ion-item>
    <ion-label>
      Occupational certificate:
      <br>
      <input mbsc-input type="file" placeholder="Select file..." />
    </ion-label>
  </ion-item>



<ion-item>
    <ion-label>
      Zoning certificate:
      <br>
      <input mbsc-input type="file" placeholder="Select file..." />
    </ion-label>
</ion-item>    
 


<ion-item>
  <ion-label>
      ID copy:
      <br>
      <input mbsc-input type="file" placeholder="Select file..." />
    </ion-label>
  </ion-item>

  
  
<ion-item>
    <ion-label>
      Proof of ownership:
      <br>
      <input mbsc-input type="file" placeholder="Select file..." />
  </ion-label>
</ion-item>



<ion-item>
  <ion-label>
    Tax clearance:
    <br>
    <input mbsc-input type="file" placeholder="Select file..." />
  </ion-label>
</ion-item>




<ion-item>
  <ion-label>
    Company registration document:
    <br>
    <input mbsc-input type="file" placeholder="Select file..." />
  </ion-label>
</ion-item>



<ion-item>
  <ion-label>
    Proof of public liability cover for an amount of no less than R5 Million:
    <br>
    <input mbsc-input type="file" placeholder="Select file..." />
  </ion-label>
</ion-item>



<ion-item>
  <ion-label>
    Proof of payment of R1000.00:
    <br>
    <input mbsc-input type="file" placeholder="Select file..." />
  </ion-label>
</ion-item>



<ion-item>
  <ion-label>
    Latest copy of municipal amount(water/electricity):
    <br>
    <input mbsc-input type="file" placeholder="Select file..." />
  </ion-label>
</ion-item>



<ion-item>
  <ion-label>
    Valid B-BBEE certificate:
    <br>
    <input mbsc-input type="file" placeholder="Select file..." />
  </ion-label>
</ion-item>



    </ion-col>


  </ion-row>
</ion-item>

</ion-content>
