ion-card{
  margin-top: 40px;
 
  height:110px;
  width: 40%;

  }
  .card11
  {
    ion-card{
      
      width: 350px; 
      height: 300px;  
      
    }
  
  }
  ion-card{
    border-radius: 10% 10% 
}

li{
    float: right;
    list-style:none;
    text-align: center;
    width: 100px;
    height: 15px;
    line-height: 10px;
    color: aliceblue;
    text-decoration-line: none;
    font-weight: bold;
  }
  ion-card{
    border-radius: 5% 
}
.border
{
  //   border-bottom: solid ;
  //   border-top: solid ;
  //   border-left: solid ;
  //   border-right: solid ;
    color:black;
    

}
.mycard{
    ion-card{
        height: 400px;
    }
}
  a {

    text-decoration-line: none;
    font-style: initial;
    color:rgb(7, 3, 83);


    
    
  }
  ion-label{
      margin-left: 20px;
  }
  h1{
      margin-left: 20px;
  }































// ion-content {
//     border: thick black ;
    
    
// }
// ul
// {
//     list-style: none;
// }
//  ul li 
//  {
//    display: inline-block;
//  }
//  form{
//    opacity: 0.9;
//    color: black;
//  }
//  ion-input{
//    border: solid 1px black;
//  }
//  ion-item{
//   border-style: unset !important
//  }
//  ion-icon{
//   zoom: 2;
// }
 