
<ion-menu side="start" menuId="first" contentId="content1" color="dark">
  <ion-header color="dark" >
    <ion-toolbar color="dark">
      
    </ion-toolbar >
  </ion-header >
  <ion-card color="dark" style="  background: linear-gradient(60deg, #00FF7F 50%, lightseagreen 50%);border-radius: 50%; margin-left: 70px; text-align:center" > 
    hello50
    <a routerLink = "/landlord-dash"><ion-button shape ="round" color="light" style="margin-top: 45px;margin-left: 45px;"><ion-icon name="person-outline"></ion-icon></ion-button></a>
      
  </ion-card>

  <ion-content color="dark">
  
    <ion-list  color="dark" lines="none" *ngFor="let pages of navigate"  >
     
    <ion-menu-toggle auto-hide="true" color="dark">
      <ion-item [routerLink]="pages.url" routerDirection="forward" lines="none" color="dark"  >
          <ion-icon [name]="pages.icon" slot="start"></ion-icon>
             {{pages.title}} 
      </ion-item>
    </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content1" color="dark" ></ion-router-outlet>

<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start" style="color: rgb(6, 2, 73);">
      <ion-menu-button sytle="background-color:white"></ion-menu-button>
      </ion-buttons>

    
      <li><a routerLink="/folder/Home"><ion-icon name="log-out-outline" style="font-size: 20px; background-color:rgb(6, 2, 73)
      ; color: white ;" >previous</ion-icon></a></li>
      <li> <div class="border">
        <ion-input type="text" placeholder="Search">
        <ion-icon name="search-outline" slot="start"></ion-icon></ion-input>
            </div>
      </li>

      <li><a routerLink="/help/helplord">HELP</a></li>
    
  </ion-toolbar>
</ion-header>

<ion-content>
 
 <ion-grid>


  <ion-card style="margin-left:60px ;border-radius: 20px; height:50px ;background-color: white;color: rgb(6, 2, 73);">
   
    <ion-label style="color: rgb(6, 2, 73) ;margin-left: 60px;margin-top:-30px;font-size:14px; text-align: left;">
     Dashboard
    </ion-label>
   </ion-card>
 <ion-card style="background-color: rgb(6, 2, 73);
 margin-left: 250px;margin-top: -60px;
 border-radius: 20px; height:50px ;" >
  
  <ion-label style="color: black ;margin-left: 60px;margin-top:-30px;color:white;
   font-size:14px;margin-left: 30px;">
   Accreditation
  </ion-label>
 </ion-card>  
   
    <div class="card11">
    <ion-row>
      <ion-col size="12" size-sm style="text-align: center;"> 
        <ion-card>
           <ion-toolbar>
                <div slot="start">
                  <ion-title style="font-size: 18px; font-weight: bold;color: 
                  rgb(6, 2, 73) ;margin-top:-10px; margin-left: 40px;border-left: 10px 	rgb(6, 2, 73)solid">Properties Application Send</ion-title>
                </div >
                <!-- <div style="color: rgb(6, 2, 73);margin-right: 10px;" slot="end" >
                  <ion-button color="dark" shape="round"><ion-icon name="bed-outline"></ion-icon> 
                  </ion-button>
               </div> -->
              </ion-toolbar>
              <ion-card-content>
                <canvas #doughnutCanvas></canvas>
              </ion-card-content>
              
              <br><br><br><br>
              <br>
       </ion-card>
      </ion-col>

      <ion-col size="12" size-sm style="text-align: left;"> 
          <ion-card>
             <ion-toolbar>
                  <div slot="start">
                    <ion-title style="font-size: 18px; font-weight: bold;color: 
                    rgb(6, 2, 73);margin-top:-10px; margin-left: 40px;border-left: 10px 	rgb(6, 2, 73)solid ">Status</ion-title>
                  </div >

                  <div style="color: rgb(6, 2, 73);margin-right: 10px;" slot="end">
                      <ion-button shape="round" color="dark">
                        <ion-icon name="heart-outline"></ion-icon>
                         </ion-button>             
                 </div>
                </ion-toolbar>
                <ion-title>Proparties Pending</ion-title>
                <ion-label>
                  Name of the property:
                </ion-label>
                <br><br>
                <ion-title>Accepted Proparties</ion-title>
                <ion-label>
                  Name of the property:
                </ion-label>
                <br><br>
                <ion-title>Rejected Proparties</ion-title>
                <ion-label>
                  Name of the property:
                </ion-label>
                <br>
                <ion-label>
                  Reason for rejection:
                </ion-label>
               
                <br><br><br><br>
                <br>
         </ion-card>
        </ion-col>
   </ion-row>
  </div>
<br>
  
  </ion-grid>
</ion-content>

























































<!-- <ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" color = "success">
      <ion-icon name="menu" (click)="presentMenu()"></ion-icon>
   </ion-buttons>
    <ion-title align="center">Landlord Application</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
  <div style="background-image: url('assets/pics/landlord.jpg');">
    <br>
    <br>
  

  
   

    
<ion-item>
    <ion-label  position = "floating">Name of your property:</ion-label>
    <br>
    <ion-input [(ngModel)] ="lordApply.propName" name = "property" type = "text"  ></ion-input>
    
</ion-item>



<ion-item>
  <ion-row>
    <ion-col style="border-radius: 1px;">
      <ion-label >Enter Full Address</ion-label>
      <br>
      <ion-label position = "fixed">Number</ion-label>
      <br>
      <ion-input [(ngModel)] ="lordApply.add1" name = "add1" placeholder="Address 1"></ion-input>
      <br>
      <ion-label position = "fixed">Street/Block</ion-label>
     <br>
      <ion-input [(ngModel)] ="lordApply.add2" name = "add2" placeholder="Address 2"></ion-input>
      <br>
      <ion-label position = "fixed">City</ion-label>
      <br>
      <ion-input [(ngModel)] ="lordApply.city" name = "city" placeholder="City"></ion-input>
      <br>
      <ion-label position = "fixed">Code</ion-label>
      <br>
      <ion-input [(ngModel)] ="lordApply.code" name = "code" placeholder="Code"></ion-input>
    </ion-col>
  </ion-row>
</ion-item>

<ion-item>
  <ion-label > How far is your property from selected campus in kilometers</ion-label>
  <br><br>
  <ion-input [(ngModel)] = "lordApply.distance" name="distance" FormControl = "distance"></ion-input>
</ion-item>

<ion-item>
  <ion-label position = "floating" > Annaul fee single room in R?</ion-label>
  <br>
  <ion-input [(ngModel)] = "lordApply.feeSingle" name="feeSingle" FormControl = "feeSingle"></ion-input>
</ion-item>

<ion-item>
  <ion-label position = "floating" > Annaul fee sharing room in R?</ion-label>
  <br>
  <ion-input [(ngModel)] = "lordApply.feeSharing" name="feeSharing" FormControl = "feeSharing"></ion-input>
</ion-item>

<ion-item>
  <ion-label position = "floating"  > Number of sharing rooms?</ion-label>
 <br>
  <ion-input [(ngModel)] = "lordApply.numSharing" name="numSharing" FormControl = "numSharing"></ion-input>
</ion-item>


<ion-item>
  <ion-label position = "floating" > Number of single rooms?</ion-label>
  <br>
  <ion-input [(ngModel)] = "lordApply.numSingle" name="numSingle" FormControl = "numSingle"></ion-input>
</ion-item>

<ion-item>
  <ion-label position = "floating" > How many rooms in total?</ion-label>
 <br>
  <ion-input [(ngModel)] = "lordApply.totalBed" name="totalBed" FormControl = "totalBed"></ion-input>
</ion-item>

<ion-item>
  <h1 style="color: red; text-align: center;background-color: aliceblue;">NB: please scan the 
    certified copies of the following documents and send them as PDF in order for your application to be processed</h1>
  </ion-item>
  <div style="border-bottom: transparent;">

  

  <ion-item>
    <ion-label>
        Lastest copy of municipal account
        <br>

        
    </ion-label>
  </ion-item>


  <ion-item>
    <ion-label>
      Building plans approved by municipality:
      <br>
      
    </ion-label>
  </ion-item> 


  <ion-item>
    <ion-label>
      Occupational certificate:
      <br>
     
    </ion-label>
  </ion-item>



<ion-item>
    <ion-label>
      Zoning certificate:
      <br>
      
    </ion-label>
</ion-item>    
 


<ion-item>
  <ion-label>
      ID copy:
      <br>
      
    </ion-label>
  </ion-item>

  
  
<ion-item>
    <ion-label>
      Proof of ownership:
      <br>
      
  </ion-label>
</ion-item>



<ion-item>
  <ion-label>
    Tax clearance:
    <br>
    
  </ion-label>
</ion-item>




<ion-item>
  <ion-label>
    Company registration document:
    <br>
    
  </ion-label>
</ion-item>



<ion-item>
  <ion-label>
    Proof of public liability cover for an amount of no less than R5 Million:
    <br>
    
  </ion-label>
</ion-item>



<ion-item>
  <ion-label>
    Proof of payment of R1000.00:
    <br>
    
  </ion-label>
</ion-item>



<ion-item>
  <ion-label>
    Latest copy of municipal amount(water/electricity):
    <br>
    
  </ion-label>
</ion-item>



<ion-item>
  <ion-label>
    Valid B-BBEE certificate:
    <br>
  </ion-label>
</ion-item>
<ion-item>
<ion-input    [(ngModel)] = "lordApply.docs" type="file" name="docs" accept=".pdf"  required ></ion-input>
</ion-item>  



    
  </div>


<ion-button class = "ion-text-center" color="primary" (click) = "registerProp()" >SUBMIT</ion-button>
<ion-footer  class="ion-footer">
  <ion-toolbar color="dark" >
    <ion-title align="center" >2020 Off campus accomodation</ion-title>
  </ion-toolbar>
</ion-footer>
</div>
</ion-content> -->
