ion-grid{
    border: 5px solid red;
    height: 250px;
}

//p
#step1{
    border: 3px solid blue;
    border-radius: 5px;
    background-color: blue;
    color: white;
}
ion-content{

    --ion-background-color:#ddb636f3;
}