<ion-header>
  <ion-toolbar    color="dark"  >
 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  align="center" > 
     How To Apply
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    
      <img class = "logo-img" src="assets/icon/tut2.jpg" alt="">
    
  

  <ion-item >
    <strong><p id="step1">Step 1 </p></strong>
    <strong><p color="primary"> – Go to the nearest TUT campus, Below are off-campus Accommodation offices</p></strong>
   
  </ion-item>
  <ion-item>
    <ion-icon  name="ellipse"></ion-icon><p>PRETORIA WEST, ARTS & ARCADIA CAMPUS - Building 52 (next to tennis court)</p>
  </ion-item>
  <ion-item>
    <ion-icon  name="ellipse"></ion-icon><p>SOSHANGUVE CAMPUS - Building 03 – G32 South Campus</p>
  </ion-item>
  <ion-item>
    <ion-icon  name="ellipse"></ion-icon><p>GA-RANKUWA CAMPUS - Building 22 – G05</p>
  </ion-item>
  <ion-item>
    <ion-icon  name="ellipse"></ion-icon><p>MBOMBELA CAMPUS - Counter 5 (next to admin office)</p>
  </ion-item>
  <ion-item>
    <ion-icon  name="ellipse"></ion-icon><p>EMALAHLENI CAMPUS - Building 3 – Counter 1 (I-Centre)</p>
  </ion-item>
  <ion-item>
    <ion-icon  name="ellipse"></ion-icon><p>POLOKWANE CAMPUS - Office 3A (next to the Bookshop</p>
  </ion-item>

</ion-content>